[2018-03-23 04:06] Codeusa commented on #214
@JackWanamaker Does this remain if you disable g-sync?

[2018-03-23 08:20] roman380 commented on #214
@JackWanamaker we don't anticipate such change in encoding behavior. Apart from G-Sync Andrew mentioned above, it might help you could share the log files (right click tray icon, Dev Utils, Open Cache Folder, compress the contents and share/upload).

[2018-03-25 23:25] Jimmy3J commented on #130
Hello. I'm here to report if you are in the case were you uninstalled Rainway before your update was implemented, the planified task is still running:
![bugged](https://user-images.githubusercontent.com/31630985/37881127-64bd3622-3093-11e8-88fa-3b0062052ff8.PNG)

My system is in french, but you can clearly see the date of the executed task and the Windows error 0x80040002 meaning that "the specifi

[2018-03-25 23:37] Codeusa commented on #130
This isn't a bug. Its a preference.

[2018-03-26 08:13] BetaLeaf commented on #210
So how goes it @roman380 @Codeusa? Any Progress?

[2018-03-27 12:34] #175 closed

[2018-03-27 15:42] Codeusa commented on #208
@healingbrew @FrobtheBuilder  noticed this for awhile, sometimes the alt key does not release even though it was only briefly pressed.

[2018-03-27 15:43] Codeusa commented on #193
This will be added in the next update by default

[2018-03-29 08:26] TristisOris opened #215 "a lot of feedback."
problems:
1. server app close to tray didn't work.
1. can't enter into Fullscreen mode in browser (F11) - ff59.

feature request:
1. server side indication about streaming: pc, ip, etc.
2. option to shutdown server PC from browser.
3. client side browser PC spec test
-recomended HW, chanel.
-FPS/drop statistic.
-client bottleneck check.
-browser HW Acceleration check and solutions.

for ex:
client

[2018-03-29 08:40] TristisOris opened #216 "Debug mode - server won't start."
#reproduce:

activate Debug mode in tray
got message "Rainway will now restart."

after that app closing forever. i can't run in manualy.
v.0.2.54

[2018-03-29 10:12] Codeusa commented on #215
Do not open one issue to request multiple things, it makes it impossible to track.

2a. Is not a Rainway issue, you'll need to report it to the Firefox team.

Every other feature you requested can be found by pressing ctrl+shift+b

Your issue with spellsforce is confusing, can you provide a more detailed description?

When filing a new bug, please include:

Descriptive title - use keywords so othe

[2018-03-29 10:45] TristisOris commented on #215
ok, thanks. maybe i saw this 1 time in popup. but it must be a separate FAQ with all shortcuts and other things.

[2018-03-29 10:58] TristisOris commented on #216
i reinstalled rainway. problem is not gone.
where settings store?

[2018-03-29 13:37] TristisOris commented on #216
solved.
server don't work when & **after** RDP session. what's the problem?

1. turn on PC remotely 2. turn on rainway via RDP 3. got nothing.

[2018-03-29 15:06] March-happy commented on #207
Well, recently I can get the panel file without any problems. May be caused by GFW.

But Rainway is still not working... This is my server.log:
https://paste.ubuntu.com/p/xCvx2Kw8NM/

Still could not work inside my dorm's LAN。

[2018-03-31 23:07] shirbr510 opened #217 "Rainway doesn't start at all"
I have downloaded rainway and tried several time to remove it (via the "remove rainway") and re install it.

via the web UI, I've received err 1
when trying to run the "start rainway" option, nothing seems to happen.

I've then went to services to try and start Rainway Radar on my own and got error 1053.

rainway version: 0.2.54
windows version: win10 home (build 1803)
is after creator update: yes

[2018-03-31 23:34] Codeusa commented on #217
Go to "C:\Users\YourWindowsName\RainwayInc

zip all the folders inside it and share them here

[2018-04-01 00:29] shirbr510 commented on #217
I don't have such a folder at the location you specified

[2018-04-01 00:55] Codeusa commented on #217
Do you have an anti virus running?

[2018-04-01 01:31] Codeusa commented on #216
@healingbrew can you look into a work around for this

[2018-04-01 03:36] healingbrew commented on #216
duplicate of #9

[2018-04-01 03:36] #216 closed

[2018-04-01 04:06] shirbr510 commented on #217
Just win defender

On Sun, Apr 1, 2018, 03:55 Andrew Sampson <notifications@github.com> wrote:

[2018-04-04 16:43] XCanG opened #218 "[Suggestion] Add fulscreen buton on overlay while you ingame"
You know, what F11 button toggle browser into full-screen mode, this work in same way in game list page, but after you starting a game this hotkey not work anymore, so instead add button on overlay so you can do in any time while playing click it and toggle browser state.

[2018-04-04 18:26] Codeusa commented on #218
So one of the reasons we don't currently make the browser fullscreen ourselves is the act of pressing ESC will cause fullscreen to exit. F11 is a work around to this, but we understand its not perfect.

There is currently a spec being written (https://www.chromestatus.com/feature/5642959835889664) that addresses this and the second a beta is available from Chrome, we will implement it.

[2018-04-05 10:43] shirbr510 commented on #217
@Codeusa any news?
Cause I still can't use rainway

[2018-04-05 16:48] gsxryan opened #219 "Feature: Utilize Steam's In-Home Streaming feature on LAN"
Rainway should interface with Steam's In-Home Streaming feature so that all games do not need to be installed on the Rainway Server.

This would help optimize storage resources on the LAN, eliminating the need to have a single game installed on multiple machines in order to stream via Rainway.

Ex:
PC-1 does not have Rainway installed, and has PUBG installed.
PC-2 hosts rainway, but does not have

[2018-04-05 17:57] DjScribbles opened #220 "Virtual Controller is always connected when rainway is running"
The Rainway Virtual Controller device is connected as soon as Rainway starts up, rather than when the a stream begins. This creates issues with key-prompts in a multitude of games that display xbox prompts any time a controller is detected, and can create more serious issues in games like Skyrim, where having a new controller present at startup defaults you to exclusive-controller mode (ignoring a

[2018-04-06 17:40] Legend-Rider opened #221 "Rainway Auto Update"
Sorry if this already exists, I could not find it, but I would like an option to toggle automatic updates.

[2018-04-08 21:50] notdisliked opened #222 "Rainway server force grabs focus on startup"
It seems like when the app is initializing after Windows starts up the app grabs focus from everything else when it's setting itself up.

Normally this wouldn't be a problem, but there's one case where it actually turns into an annoyance.  If my computer BSODs in the middle of, say, a League game, I reboot as fast as I can and start the game right after.  Then as I'm running back into the fight, r

[2018-04-09 15:15] level42ca opened #223 "[Request] - Ability to manually add games/programs to Rainway"
Some games don't seem to show up in Rainway, despite being installed in Steam. As of this time, I have no way to get these games into Rainway. One title in particular that comes to mind is "Planet Coaster". It is installed on Steam, but does not appear in Rainway.

[2018-04-09 16:40] Syberiyxx commented on #165
This is could be considered a bug because on my 15MB connection it's taking 15+ minutes to load the game list.

[2018-04-09 16:43] Codeusa commented on #165
@FrobtheBuilder can we only load images that are in view?

[2018-04-10 04:13] BetaLeaf opened #224 "Rainway just shows black screen instead of the intended game."
[code]

[2018-04-10 10:40] healingbrew commented on #86
Added in a recent update, during the setup screen you'll have a snapshot of each monitor to select.

[2018-04-10 10:40] #86 closed

[2018-04-10 10:40] healingbrew commented on #129
Added in the most recent update

[2018-04-10 10:40] #129 closed

[2018-04-10 10:41] healingbrew commented on #159
Added in the most recent update.

[2018-04-10 10:41] #159 closed

[2018-04-10 10:41] healingbrew commented on #204
This should be fixed now.

[2018-04-10 10:41] #204 closed

[2018-04-10 10:42] healingbrew commented on #9
RDP support should be fixed now.

[2018-04-16 20:11] danteteresi opened #225 "Display is locked to off-monitor, cant switch between displays through web client."
Rainway locked on to my monitor that was off and wouldn't let me switch it to the display that was on, as it would go back to the one that was off after a few seconds.

[2018-04-19 03:28] Jessomadic commented on #210
Tell me about it. I can not play a game when the ping does from 20ms to 300ms over and over and over again

[2018-04-25 16:36] DeLaguna commented on #220
I would say connect controller when the remote device initiates its connection with Railway, and the remote device is looking at the game list. Because that is when you are preparing to play games, and games shouldn't launch until the controller is connected, if not connected then pop up prompt allowing force start but with a warning that game may not be playable. if no input or change to the game

[2018-04-28 00:50] justathoughtor2 commented on #35
Hey all! I have the same Chromebook model as @TesseractCat and receive the same error and console log message unless I disable accelerated video decoding as indicated. This of course slows down the decoding, and thus causes other issues, but the game for the most part seems to not crash after that.

I have seen the console message in question in one other circumstance as well, and that has to do w

[2018-05-03 02:52] Codeusa commented on #35
This is 100% a ChromeOS/Chrome issue. we reported it [here](https://bugs.chromium.org/p/chromium/issues/detail?id=838653).

A work around would be to use Firefox.

https://www.techrepublic.com/article/how-to-run-firefox-quantum-on-a-chromebook/

[2018-05-06 20:30] TheHalfinStream opened #226 "Can't select audio device or get audio"
Whenever I check either server settings in the web client, or on the server itself, I cannot select an audio device. Before May 1st I was able to stream games with audio, but I still could not select an audio device.
My audio device is a blue yeti (listed as: Speakers (Blue Yeti Microphone))
I use the latest version of windows 10.
No errors occur.

[2018-05-08 17:03] azumukupoe opened #227 "PUBG Mobile official emulator not working"
http://syzs.qq.com/en/

[2018-05-09 14:46] Jessomadic commented on #195
This is now happening 100% of the time of 4 different computers when the game begins to run not before. I believe this is Fatal Issue 4 as from what i can tell that is the only one that kicks it back to the game list.

[2018-05-13 02:07] BetaLeaf commented on #227
Did you try adding it as a non-steam game?

[2018-05-13 02:09] BetaLeaf commented on #225
Try hitting Win+P and set it to the intended monitor. If you can't see the menu, press it twice and give it a sec to switch monitor mode. You may need to repeat this until its set correctly.

[2018-05-13 02:10] #224 closed

[2018-05-13 02:12] BetaLeaf commented on #221
The author does not want you to disable automatic updates, and for good reason. If they fix an issue that would allow for unauthorized access via the application, and you missed it because you disabled automatic updating, your computer would be at risk. If you understand the ramifications of disabling automatic updates, you can do so via the Task Scheduler. Find the Rainway Auto Updater task and d

[2018-05-13 02:13] BetaLeaf commented on #214
I have the same setup with the same experiences. Hoping Octane 2 fixes this.

[2018-05-13 02:15] azumukupoe commented on #227
@BetaLeaf Yes.

[2018-05-13 06:36] bramnet commented on #200
symlinked, will update if that solves my issue the next time rainway has an update.

[2018-05-13 13:57] Legend-Rider commented on #221
Ok, thanks for the reply and that makes sense!  But I wonder if there is a way that auto updates could toggle off when you completely exit the app and then turn back on when you launch it again?

[2018-05-13 14:16] BetaLeaf commented on #221
Right now, it won't update when you are actively using the computer. If you check the task, you will see it will only activate at certain times and only if you are idle. It should be fine to leave on. I talked to Andrew about this, it kept updating while I was in the middle of my game, and it kept pulling focus in the middle of fights and getting me and my team killed. He said he would fix it in t

[2018-05-13 21:15] danteteresi commented on #225
Currently issue is fixed, cant redo the issue anymore to try it out. :( guess is should close this?

[2018-05-13 21:16] BetaLeaf commented on #225
Ah ok. Glad the issue is fixed. Yea, go ahead and close the issue.

[2018-05-13 21:18] danteteresi commented on #225
Thanks for responding :>

[2018-05-13 21:18] #225 closed

[2018-05-14 15:08] Magicode1 opened #228 "Extreme Lag on Seemingly Fine Specs/Network"
I'm sorry if this has been posted before. I am running on an R9 380 and Ryzen 3 1300x, and my network speed is at least 10mb/s upload and 50mb/s download on both networks.

Both the network and the specs seem (to me) to be able to handle at least some decent (720p) streaming, and yet, the input lag is atrocious (sometimes 5-10 seconds) and the stream runs at about 2 fps (also atrocious).

I don't

[2018-05-14 23:47] Magicode1 commented on #228
Hey, thanks for the quick reply.

I am streaming to a PC on a different network, and I have tried the common issues.

Both PC's have a wired internet connection. The PC being streamed to is a core i5-4300, while the PC streaming is the Ryzen 3 as mentioned above.

I am planning to upgrade to a GTX 970 soon. Does nVidia run smoother than AMD cards? Or could it be a CPU bottleneck?

[2018-05-16 10:00] bramnet commented on #200
Really? It’s a necessity for those of us with a small SSD C: drive, especially at the rate Rainway was posting new updates, and not deleting old files after the installation. It wouldn’t even take that much work, just make it an extra part of the config file and/or ask for a location when you install for the first time, going to the default if not otherwise specified by the user.

On May 15, 2018,

[2018-05-16 10:48] BetaLeaf commented on #200
I'm just saying, programmers don't allow users to change the download directory and this is for a good reason. The last thing a developer needs is to worry about users missing security patches for applications that give unrestricted remote access to your computer, because the download path doesn't have sufficient permissions or is no longer accessible.

You have symlinked your folder so your issue

[2018-05-16 18:08] Jessomadic commented on #214
I have all but given up hope for Rainway. I have done everything they had told us to do to help with the lag and nothing works and is not local improvement. They show they amazing videos with super low ping and high framerate but nobody can match those.

[2018-05-16 20:28] BetaLeaf commented on #214
I feel that. Its frustrating even for me. Octane 2 is suppose to be coming
sometime this week. Hopefully that will improve things.

On Wed, May 16, 2018, 2:08 PM Jessomadic <notifications@github.com> wrote:

--
I am a Software Engineer. Visit my website at https://betaleaf.net/

[2018-05-16 22:30] Jessomadic commented on #214
@BetaLeaf Yeah i know what you mean. But this update is the last chance for it for me. I am all for supporting beta software and all but when it's not usable I can't help

[2018-05-16 22:50] Codeusa commented on #214
Because something does not work for you does not mean it does not work for other. Commenting this everywhere does not add anything productive.

[2018-05-16 23:31] Jessomadic commented on #214
Commenting this everywhere? This is the only place I have said a word about it. I know you are working on it and there is no harm in that. I am very confused on why you Deleted our comments

[2018-05-16 23:54] Codeusa commented on #214
The bug tracker is for reporting issues, unless your specific problem is on a thread, commenting you are also having _a_ problem is not helpful because it does not let us know if your problem is related.

We are aware that some people have issues, they are all different. Some people have high refresh monitor; some people have weird hardware configurations -- we are working to solve each problem we

[2018-05-16 23:57] BetaLeaf commented on #200
Alright. I do hope it happens, but I really don't expect it to happen, even if they reach a point where they have nothing better to do. I literally cannot name a single app that lets the end user define where the update download path is.

[2018-05-16 23:58] Jessomadic commented on #214
I apologize that it came out that way. Reading it back on how you are stating it I can see what you mean and I did not mean for it to come across that way. You and your whole team are doing amazing work and I have been following this project since you made your twitter acct for the project. The tech you guys are creating is amazing and can not be rushed.

[2018-05-17 23:23] Jessomadic opened #229 "Website download page down"
![image](https://user-images.githubusercontent.com/35648348/40208440-ccfcbaa8-5a07-11e8-8067-d2a25c2605ef.png)
This is shown when you do to download rainway

[2018-05-17 23:28] Codeusa commented on #229
Fixed the link, it is https://rainway.io/downloads/

[2018-05-17 23:28] #229 closed

[2018-05-23 23:37] NikolasDude opened #230 "Xbox Controller will not work unless Rainway is running"
My wireless xbox controller has been turning off 3 seconds after connecting to my PC mysteriously, and I realized it only would happen after I had stopped Rainway (I didn't need it open). When re-opening Rainway, turning on my controller works and connects to the computer properly

[2018-05-24 04:16] #193 closed

[2018-05-30 11:38] azumukupoe opened #231 "Allow installing games on the go"

[2018-05-30 11:39] #227 closed

[2018-05-30 11:40] azumukupoe opened #232 "Allow keyboard remapping on different OSs"

[2018-06-01 07:52] TheMulti0 commented on #6
Is it ever going to be fixed?

[2018-06-01 20:50] XCanG opened #233 "Rainway keep restarting"
**Bug ID: 82a723b9-0f74-4dd6-ae4d-7817f8478a24
Steps to reproduce the problem:**
Start rainway on server side, logout and login (probably in another account, but may be same too. Then open play.rainway.io and login, after game list received on server side rainway crashed. It happen only after relogin process was passed.

**What is the expected behavior?**
Not to crash server when open website.

**

[2018-06-01 20:56] Codeusa commented on #233
Temporary work around @XCanG is to go to (C:\Users\yourusername) open RainwayInc and delete the Server folder, make sure Rainway is closed at this point. Restart Rainway and it should work.

[2018-06-01 21:14] XCanG commented on #233
@Codeusa hm, it still not work, I'm resetting settings, but it still keep crashing rainway
may be sevveral bugs are sended, I at least copy that Bug ID: b3084472-fdac-4d09-a9c8-2eaa90ed3eb7

[2018-06-02 07:01] daasuharo opened #234 "Retroarch with Rainway, client side is not working with DS4 Controller"
Rainway works perfectly with the two other apps I use to play games, Jump/utomik, but I don't seem to be able to get it working with Retroarch using a DS4 client side. It launches and xinput controller becomes selectable but DS4 control on client side still doesn't register.

[2018-06-02 10:29] daasuharo commented on #234
It's working now, I must have done something wrong. Sorry for the trouble.

[2018-06-02 11:14] #234 closed

[2018-06-04 21:29] #1 closed

[2018-06-04 21:29] #3 closed

[2018-06-04 21:29] #7 closed

[2018-06-04 21:29] #12 closed

[2018-06-05 03:38] azumukupoe opened #235 "Use Chromebooks' right ctrl key as Windows key"

[2018-06-10 17:50] xenwall opened #236 "Fatal Error During First Time Setup"
Bug ID: ca9af8c8-0741-4028-8d33-6c043e9452dd
Steps to reproduce the problem:
Start > Rainway > Check For Updates > Update
Start Rainway, click "First Time Setup"
Sign In (got password wrong once, correct on second attempt)
Choose Quality, Very High (Selected Constant Bitrate to read the tooltip then went back to quality, chose very high)
Setup operations start rattling off then Fatal Error.

What

[2018-06-10 21:15] bramnet opened #237 "Monitor changes since last setup"
It would be nice if we could change the monitor and sound setup either from the client or if the server would move to the next alternative if sound devices and monitors have changed since the first time setup.

[2018-06-10 21:35] ewrogers commented on #223
Or at least parse Steam game library including non-Steam games that have been added manually.

[2018-06-10 21:59] Codeusa commented on #237
You can change them from the client and the server.

![image](https://user-images.githubusercontent.com/1297077/41206791-fd429f7e-6cd7-11e8-842f-3dad80d47bc3.png)

[2018-06-10 21:59] Codeusa commented on #223
We do. What games are not showing up?

[2018-06-10 22:08] bramnet commented on #237
Whoops. Either it was added with .3 or I somehow didn’t notice.

[2018-06-10 22:08] #237 closed

[2018-06-10 23:05] BetaLeaf commented on #210
Tested again. It's been so long since I've tested, so I don't quite remember how bad it was before, but it seems to be ever so slightly improved. At 1440p 120hz, it's still 2-3 frames behind. I can kinda help it get to live by setting resolution on both devices to 1080p at 60hz and setting rainway to constant low. With these settings, it is about as good as I can get it. It's 1-2 frames behind hos

[2018-06-11 00:08] BetaLeaf commented on #210
https://www.youtube.com/watch?v=6g98jU8CQXg

[2018-06-11 07:37] XCanG commented on #233
May be with newer version 0.3.0 this bug was fixed. Right now I don't see this issue (or can't reproduce).

[2018-06-11 07:49] XCanG opened #238 "[Suggestion] Show game path OR hide games from directories OR ..."
I have two games on my PC which I have in two version, one game related to steam and I have two different branches of it (latest stable and testing) installed on two different location, and other game not related to Steam which also installed in two variations (native and with mods).
The problem come on website because I have no way to recognize which game I will launch. It may be game from latest

[2018-06-11 07:51] Codeusa commented on #233
It was. Sorry for the delay in responding, let me know if you need anything else.

[2018-06-11 07:51] #233 closed

[2018-06-12 03:54] JTTM opened #239 "A media stream ran into a fatal issue: 3"
After the latest update (0.3.0) in Chrome the audio stops working after about 30 seconds and displays the error above (in the title).

You can see the example in this video:
https://youtu.be/T19aRhuJ7cA?t=30s

[2018-06-12 03:57] mtgeee commented on #239
Same thing here.

[2018-06-12 04:00] mtgeee opened #240 "Right Analog in Controllers"
Hello, currently my right analog works fine without using rainway but when I use it the right analog only goes right and left not up and down also some other keys don't work, i tried using x360ce the analog still doesn't go up or down.

[2018-06-12 04:01] mtgeee opened #241 "Numpad doesn't work"
Numpad keys doesn't work, I think it's mapped to some weird keys or something.

[2018-06-12 04:02] mtgeee opened #242 "Connecting to PC without having to click the game"
Hello, I am suggesting that we should have a button where we able to connect to the pc without having to open a game, it's really annoying when you are playing and your internet disconnects and you can't connect back, but have to click the game again which will close the current session.

[2018-06-12 04:08] JTTM commented on #242
#63

[2018-06-12 06:01] mtgeee commented on #240
1 lessGamepad (Vendor: 2563 Product: 0523)

[2018-06-12 13:42] doublejumper opened #243 "Add server option to enable stats overlay on client by default"
This would be especially useful for mobile browsers that generally don't have a way to enable it.

[2018-06-14 09:54] philhagger commented on #226
I have this same issue

[2018-06-21 18:58] Codeusa commented on #35
I'm not longer seeing this happen: https://twitter.com/Andrewmd5/status/1009758915305730051

[2018-07-07 17:22] BunnyM17 opened #244 "PUBG play button not working in Tencent Emulator"
The emulator is launching perfectly, but when I click on the play button, the PC doesn't respond !!! I installed the emulator two-three weeks ago and it was working fine but today suddenly the play button bug happened. Please Help! (Also the settings tab is not opening)﻿

[2018-07-09 15:21] z96 opened #245 "Rainway will change Windows user without asking for Credentials"
If I sign into my main Windows User (which requires a password) and let Rainway start up and then switch to another Windows User, after a couple of minutes (presumably after the time it would take Rainway to start up on the test user)  the computer will switch back over to the main user account without asking for credentials.

[2018-07-15 00:51] Codeusa commented on #35
Nope, I'm still seeing it too. It's still just ChromeOS. You can mitigate it by switching to Websockets from WebRTC in the settings.

[2018-07-28 19:10] WhoCaresAboot commented on #223
Hi, Most of my Steam games(installed) are not appearing ..

[2018-07-28 19:14] WhoCaresAboot commented on #223
![image](https://user-images.githubusercontent.com/41839861/43359858-690b2f12-925f-11e8-848c-6d6a00965004.png)
as opposed to
![image](https://user-images.githubusercontent.com/41839861/43359878-c11f7af0-925f-11e8-88e3-6814048d6c6f.png)

[2018-07-28 19:59] Codeusa commented on #223
Go to the Rainway tray icon and delete your cache via the dev utils.

[2018-07-28 20:16] WhoCaresAboot commented on #223
Nice that a CEO (even of a startup) is so responsive on a weekend! ..
That worked .. just wondering why it needed cache cleared for the games to appear when the games were **installed** already when I first installed rainway ..

[2018-07-29 03:04] Codeusa commented on #223
@WhoCaresAboot It is a bug we just realized about a week ago. It will be fixed in the next update.

[2018-07-30 17:30] bramnet opened #246 "Crashing while loading game's list"
Bug ID: b9660fdb-df77-47d8-bce3-f08b6fd0991f
Steps to reproduce the problem:
Start rainway,
Log-in on a LAN device
wait for it to attempt to load the game's list and the server will crash
What is the expected behavior?
loading the game list
What went wrong?
crashing
Did this work before?
yes
Does this work in other browsers?
No other browsers are working (Edge isn't compatible and IE throws a scri

[2018-08-01 15:01] Jessomadic opened #247 "Middle Mouse Button not working."

[2018-08-02 20:44] yu42hit opened #248 "Rainway 60 FPS setting bug"
Found the weirdest bug with Andrew today. Apparently when i set the FPS to 60 in the dashboard the latency goes up big time. If its any other FPS it works fine (Or at least any higher fps). Im using a Macbook pro 2015 15" with dedicated graphics for my client. My host has a 1060 6g, i5 Skylake, and a 60ghz monitor. If I missed anything feel free to respond.

[2018-08-03 06:16] roman380 commented on #248
Any specific game to reproduce the latency or with 60 it shows up just with anything?

[2018-08-03 16:08] yu42hit commented on #248
@roman380 I've tried No Man's Sky with the 120 fps option and it works very well, but with 60 fps in any game, its bad.

[2018-08-14 13:35] GBeezi opened #249 "Rainway preventing sleep in Windows"
While Rainway is running, Windows 10 won't go into sleep mode.

Screen shuts off and event log shows system going into Away mode but hardware never goes into deep sleep.

If I shutdown the Rainway service, deep sleep occurs instantly once I click it.

[2018-08-16 18:32] eroc1990 opened #250 "Program encounters fatal error when web client reloads after it fails to load game list"
Bug ID: 510ca88f-04c5-4b30-a32b-d432812f240f
Steps to reproduce the problem:
Launched Rainway server. Launched client on remote computer. Games list would attempt to load but fail, requesting a reload after the connection was lost. When the client reloads, within a few seconds the server will crash and reboot. This becomes an endless loop of critical failures.

What is the expected behavior?
Rainw

[2018-08-16 18:49] eroc1990 opened #251 "Program encounters fatal error when web client reloads after it fails to load game list"
Bug ID: 86ec76d1-6122-4d4e-8c08-cf63c9e78d1c
Steps to reproduce the problem:
Launched Rainway server. Launched client on remote computer. Games list would attempt to load but fail, requesting a reload after the connection was lost. When the client reloads, within a few seconds the server will crash and reboot. This becomes an endless loop of critical failures.

What is the expected behavior?
Rainw

[2018-08-18 02:14] slimshizn opened #252 "Not finding all games on PC"
As the title says. Have 25 games, only showing 15 of them. It's only showing steam or battle.net games. Any games installed by other means are not showing up. ( They are showing up for GFE no problem )

[2018-08-22 21:18] BetaLeaf commented on #251
Dup of #250

[2018-08-24 22:06] justathoughtor2 commented on #235
I"m curious why we would do this when it would clearly break keyboard game controls for games requiring the LCTRL for crouch (or any other function). I understand the need for the Windows key, but LCTRL seems to me a poor replacement (as a keyboard and mouse gamer, anyway).

[2018-08-24 22:11] justathoughtor2 commented on #209
Do you mean for the Rainway host software on Windows PC? I think this is already there:
1. Right click on the Rainway icon in the system tray.
2. Check the box stating "Start minimized".

Is this functionality not present for you?

Thanks!
Jesse

[2018-08-26 18:26] ALongPantsMan commented on #223
I would like to be able to add custom programs as well. I have a multiplayer mod and a single player mod of GTA and I dont want to launch the stock one. Even just being able to open myy desktop would be nice. It seems to be smoother than Chrome Remote Desktop so Id like to use this for everything if possible. not just games :P

[2018-09-10 21:33] justathoughtor2 commented on #35
Hey @Codeusa and @FrobtheBuilder ! I've got some good news regarding this one! Chrome OS 69 Beta has added support specifically for WebRTC hardware video decoding/encoding. (This might be in earlier versions, but if it was, I didn't see it.) Running in WebRTC mode with the flag set to its default value of Enabled seems to alleviate the errors I was seeing previously. If you guys could confirm on y

[2018-09-13 19:30] Codeusa commented on #35
We have a new update dropping soon so we can circle back after that.

[2018-09-15 00:44] richardji7 opened #253 "GTA V - Error encountered in stream engine: Stream startup exception."
I am using Chrome.  Getting "Error encountered in stream engine: Stream startup exception."  On the game PC I can see GTA V getting launched but it also got an error "The Social Club failed to load due to an incomplete installation (code 9).  Please exit the game and re-install...".  Except when I launch the game manually it is running fine.

Any ideas?

I am running Rainway as an admin.  Tried di

[2018-09-15 00:47] richardji7 commented on #253
Oh server version: 0.3.5.0

[2018-09-15 15:46] BetaLeaf opened #254 "Only one non-steam game shortcut shows up in Rainway at a time."
### Steps to trigger the problem that are specific, and repeatable
Add 2 or more non-steam games to steam as shortcuts then go to https://play.rainway.io and refresh the list of games.
### What happens when you follow the steps, and what you expected to happen instead. Include the exact text of any error messages if applicable (or upload screenshots).
#### Expected:
All non-steam games should show

[2018-09-18 16:47] healingbrew commented on #254
Does the shortcuts.vdf file have more than one shortcut?

[2018-09-18 18:34] BetaLeaf commented on #254
Yes it does. It has 4 entries:
Pokemon Trading Card Game Online
Remote Desktop
Console
Launchbox

[shortcuts.zip](https://github.com/RainwayApp/bug-tracker/files/2394090/shortcuts.zip)

[2018-09-18 19:02] BetaLeaf commented on #252
What games aren't showing up? How have they been added?

[2018-09-19 14:12] healingbrew commented on #254
Will be fixed in the next update.

[2018-09-19 14:12] #254 closed

[2018-09-20 01:53] BetaLeaf commented on #254
Thanks, Naomi. When does the next update launch? (rough eta is fine)

[2018-09-20 01:58] JTTM commented on #254
@BetaLeaf
![screenshot_20180919-155525](https://user-images.githubusercontent.com/14990787/45791312-d6991000-bc24-11e8-991e-b32d41a86388.png)

[2018-09-20 03:49] BetaLeaf commented on #254
Thanks @JTTM
Wonder what the bug was. An issue in parsing the Shortcuts.vdf?

[2018-09-20 03:50] BetaLeaf commented on #199
@Codeusa any new plans to implement the core rainway functionality to self host?

[2018-09-20 05:42] Codeusa commented on #254
I used regular expressions to parse binary. @healingbrew has properly scolded me.

[2018-09-20 06:39] BetaLeaf commented on #254
Sure, you got scolded, but at least you came out of it and learned something from it. Anyways, glad the issue was fixed. Have a good day.

[2018-09-20 07:11] BetaLeaf commented on #249
I will provide you with instructions on how to tell Windows to sleep while Rainway is running.

1. Open a Command Prompt as Administrator.
2. Type "powercfg /requests" and press enter.

You will see a list of process, drivers, and services that is allowed to keep Windows from sleeping. I have uploaded a screenshot showing an example of what you may see on your end. Your list may vary and you will

[2018-09-20 07:43] Codeusa commented on #249
Rainway utilizes [AwayMode](https://docs.microsoft.com/en-us/windows/desktop/api/winbase/nf-winbase-setthreadexecutionstate) to both prevent the new Windows 10 "Idle" state but also according to the documentation.

Because the Idle state Windows 10 does to individual processes now can break the entire application, this is a non-configurable option from our end.

[2018-09-20 09:50] healingbrew commented on #254
Actually the issue was a "filter" we implemented to strip out "weird" characters from a name, but at some point it broke and removed _all_ characters.

I rewrote the VDF parser from regex to a more sane parser to have some maintainability, which is a seperate concern.

[2018-09-22 02:07] 8Bit-Otaku opened #255 "Error starting .net not found"
I just got Rainway, and when I try to launch it gives an error saying .net isn't installed. I believe it is looking for an older version of .net (4.7.1, most recent is 4.7.2). I confirmed that I have .net 4.7.2 installed, but don't want to downgrade for just one program.

[2018-09-22 03:59] Codeusa commented on #255
You don't "downgrade" .NET, it is versioned and each version is installed side by side. Just install 4.7.1 from [here](https://www.microsoft.com/en-us/download/details.aspx?id=56116).

[2018-09-22 14:48] 8Bit-Otaku commented on #255
-Gianni Ingurgio
When I try to run the installer it says it won't run because I already have
a newer version

On Fri, Sep 21, 2018 at 11:59 PM Andrew Sampson <notifications@github.com>
wrote:

[2018-09-23 02:34] Codeusa commented on #255
Can you share a screenshot of the issue?

[2018-09-23 11:56] 8Bit-Otaku commented on #255
[image: image.png]

On Sat, Sep 22, 2018 at 10:34 PM Andrew Sampson <notifications@github.com>
wrote:

[2018-09-23 18:26] roman380 commented on #210
We released [updated version 0.5.0](https://blog.rainway.io/here-whats-new-in-rainway-0-5-0-3a66714a8b46) today and it's finally good time to re-check a few stale bugs. Specifically we improved things around accumulated latency and continuous attempts to reduce it even if it somehow appeared as a result of high load overall or, for example, network congestion. Presumably the update speed things up

[2018-09-24 06:28] e1ker commented on #252
same problem here, even with newest update and even if games are added in the steam library

[2018-09-24 07:29] BetaLeaf commented on #252
Fixed for me. Thanks.

[2018-09-24 07:31] BetaLeaf commented on #254
Confirmed fixed. Thanks.

[2018-09-25 02:32] jon10110 opened #256 "Rainway opens on incorrect windows user"
Rainway opens on the incorrect windows user

Rainway opens on the incorrect windows user after install and subsequent reinstall. I have 2 users logged into my pc simultaniously, I installed rainway on the correct user (it instaled for both obviously), but when the app is started manually or after a restart it opens on the incorrect user. I am using the latest Rainway and the latest windows 10 upda

[2018-09-26 11:35] alekseyruzh commented on #254
@healingbrew have added our non-steam indie game project as a shortcut to steam, the name is Encoder.exe, have also changed an icon inside the steam itself, still does not show up in my play.rainway.io

can you please help?

[2018-09-26 12:48] BetaLeaf commented on #254
This is not the same issue. Please open a new issue with as much info and
things you have tried as you can.

On Wed, Sep 26, 2018, 7:35 AM alekseyruzh <notifications@github.com> wrote:

[2018-09-26 17:32] JTTM commented on #254
@alekseyruzh Please join the Discord https://rain.gg/discord for more help with this issue.

[2018-09-30 14:08] BetaLeaf opened #257 "Unreproducible Rainway.exe Commit Memory Leak"
# Unreproducible Rainway.exe Commit Memory Leak

So for a good while, I've had this issue where Rainway.exe, and in past versions, ServiceManager.exe would use an excessive amount of Commit Memory. This is problematic because my system only has 16GB of RAM and once Commit Memory has gone past that, my game's FPS tanks and loses around 70% to 80% FPS. Basically, the game becomes unplayable. I've as

[2018-09-30 15:17] TheJF opened #258 "Rainway Control Panel shows up as a blank, black screen, preventing login"
# Rainway Control Panel shows up as a blank, black screen, preventing login

It did work in a previous version

On version 0.5.1.0, I'm unable to get a login screen to show up. I've uninstalled and re-installed, and it comes up as such:

<img width="331" alt="screen shot 2018-09-30 at 8 10 51 am" src="https://user-images.githubusercontent.com/999846/46259049-65f5bd00-c488-11e8-9494-ce4674b55c27.pn

[2018-09-30 18:28] TheJF commented on #258
After disabling the UI hardware acceleration and restarting the Rainway app, it now shows the interface, thanks!

And no, no hardware change between versions, or driver updates, although, there was a Windows update.

[2018-10-05 00:32] leem919 commented on #14
Baldi's Basics in Education and Learning will not show up

[2018-10-05 03:03] yu42hit commented on #248
Bug has been fixed.

[2018-10-05 03:03] #248 closed

[2018-10-08 22:55] #258 closed

[2018-10-10 00:51] BetaLeaf opened #259 "Error when launching game from Google Drive File Stream"
# Error when launching game from Google Drive File Stream

Some of my games will not run from the play.rainway.io website. They all have one thing in common, they are all located on my Google Drive File Stream drive. Unknown if it worked or not in a previous version of Rainway or Google Drive File Stream.

## Steps

- [Download](https://support.google.com/a/answer/7491144) and install Google Drive

[2018-10-10 06:32] Codeusa commented on #74
Will be fixed in 1.0

[2018-10-12 01:45] bdodroid commented on #239
Same issue on Chrome 70.0.3538.41

[2018-10-21 06:24] andritolion opened #260 "Unexpected Rainway Installer behaviour"
# Unexpected Rainway Installer behaviour
If you try running the installer on a system that already has Rainway installed, it uninstalls it first, without any prompt, and then starts the installer once again. I assume it should either ask for options to repair/reinstall, or prompt before uninstalling it, and not reopen the installer afterwards. It does the expected behavior if you cancel the automa

[2018-10-23 10:14] dimales opened #261 "Websockets offline"
When I ran Rainway app on PC, there's always red icon saying "Websockets offline: Unable to start sockets; certificates invalid. Rainway may still be used via WebRTC".
I don't actually understand what is this, but it seems improper, and I don't quite know how to fix the issue.
![default](https://user-images.githubusercontent.com/44398125/47353680-84388c80-d6c5-11e8-8764-2cf2f1b887f0.jpg)

[2018-10-23 10:32] Codeusa commented on #261
Try deleting your cache.

![https://support.rainway.io/hc/article_attachments/360013008914/2018-09-12_15-47-18.gif](url)

[2018-10-23 10:52] dimales commented on #261
Thank you for the answer!
Unfortunately, it didn't work out. Websockets are still offline. By the way, there's no error, only the red icon.

[2018-10-23 10:55] Codeusa commented on #261
Please open a ticket at https://support.rainway.io and we can look into it. Include your username/email.

[2018-10-23 11:03] dimales commented on #261
Thank you, I will do so.

[2018-10-23 20:36] Codeusa commented on #261
Hi @dimales

Could you please try running this program and showing me the output?

[ConsoleApp1.zip](https://github.com/RainwayApp/bug-tracker/files/2507934/ConsoleApp1.zip)

[2018-10-24 13:57] dimales commented on #261
Hi, @Codeusa

I wish I could, but can I trust the app?

[2018-10-24 19:33] Codeusa commented on #261
Given I'm the CEO and the program doesn't require any administrative privileges, yes, you can.

[2018-10-24 19:52] dimales commented on #261
Ok, thank you!
I don't quite get if I did it right, but here's the program's window.
![1](https://user-images.githubusercontent.com/44398125/47457307-68c1a480-d7df-11e8-8885-928b3611e895.jpg)

[2018-10-24 21:42] Codeusa commented on #261
https://support.rainway.io/hc/en-us/articles/360007854513-Unable-to-Connect-Outside-the-Home if you cannot connect outside your home.

[2018-10-25 05:34] davidcpro opened #262 ".net"
.net

It says that i need .net 4.7.1 but i have .net 4.7.2 when i try to start rainway!

[2018-10-25 14:33] agentd00nut commented on #261
@dimales if you could email me at abrothers@rainway.io so we could setup a more direct chat we can work through this issue.

[2018-10-28 14:18] theonlydoo commented on #133
+1

[2018-10-31 06:39] davidcpro commented on #255
I have the same problem

[2018-11-12 11:56] BetaLeaf opened #263 "Weird scaling bug"
# Weird scaling bug (suggest a better name below)
![https://media.discordapp.net/attachments/359715202989686785/511337950202822660/unknown.png](https://media.discordapp.net/attachments/359715202989686785/511337950202822660/unknown.png)

## Steps

- Start a stream with scaling enabled
- Press Ctrl+Shift+B

## What happens

Scales at the wrong resolution or reports wrong resolution

## What is expec

[2018-12-03 11:54] Inverse30 opened #264 "Extreme Lag on fine specs/Network/AMD Card"
Extreme Lag on fine specs/Network/AMD Card

I'm running Rainway on an AMD RX550 (4GB DDR5) with a wired connection (40mbit down / 10 mbit up).  Both the network and the card seem (to me) to be able to handle at least some decent (720p) streaming. Figuring serious lags (having a delay of nearly 10 seconds).

I already tried trouble shooting the common issues, trying different browsers, changing the

[2018-12-03 16:31] Codeusa commented on #264
The easiest way to determine if it is your hardware is to go into "settings.json" (which can be opened in the cache folder accessible via the tray icon) and change the "ShowOverlay" field to true. Save the file, restart Rainway and then screenshot the new overlay present on the screen.

You can also enable client stats by pressing ctrl+shift+b  and this will tell you information about the network.

[2018-12-13 01:17] azumukupoe opened #265 "Description of "Ring of Elysium" is shown in Chinese"
# Title

It did/did not work in a previous version

Some description

## Steps

- Install "Ring of Elysium"
- Open play.rainway.io
## What happens

Descriotion is shown in Chinese

## What is expected

Seeing description in English as it is the language for Steam account

## Host

 - OS: Windows 10 Pro
 - Version: 1803

## Browser

 - OS: Chrome OS
 - Version: 70
 - Browser: Chrome
 - Browser Vers

[2018-12-14 12:22] Boosh1 opened #266 "Unavoidable blue screen on launch of any game with rainway. Dump error: DRIVER_VERIFIER_IOMANAGER_VIOLATION"
# Title

It did work in a previous version. Unfortunately can't remember the exact version but likely V0.5.x because I updated to a new revision from an older version.

My Host PC will blue screen on launch of any game when using Rainway. The games run fine without rainway and no other hardware issues or bluescreens occur. Only occurs when launching a game on a client PC with rainway.

Updated to

[2018-12-14 12:50] Codeusa commented on #266
Seems to be the virtual hardware. This is the first we've seen this so I will investigate.

[2018-12-14 13:07] Codeusa commented on #266
It would also be helpful if you can confirm an older build works. You can get one here https://releases.rainway.io/Installer_0.5.5.0.exe

[2018-12-14 14:48] Boosh1 commented on #266
Going back to 0.5.5.0 did not solve the issue but gave me a slightly different outcome. Game would boot, run for a bit but would either blue screen the host shortly after or would Blue screen when the session was ended.
Setting "VirtualControllerEnabled" to false fixed the issue on 0.5.5.0.
I can't confirm if I always had "VirtualControllerEnabled" enabled in the past when I do recall things worki

[2018-12-14 15:09] Codeusa commented on #266
Something seems to be corrupted on your system. Let's run through some steps.

1. [Download this tool](https://github.com/RainwayApp/bug-tracker/files/2680522/DriverClean.zip)
2. Exit Rainway from the tray icon.
3. Run the above tool as admin (save the output to share here after).
4. Open the command prompt as admin.
5. Type 'verifier'
6. Select 'Delete existing settings'.
7. Reboot your PC, reins

[2018-12-15 12:59] Boosh1 commented on #266
Apologies. Unfortunately I never got to try your tool so I can't give you anything useful log wise. I attempted a drive clone on my windows drive near the end of yesterday, but that went very wrong so I had to reinstall windows... Poor time to attempt something like that I guess.

I can at least confirm that clearly something was wrong with my install since now it is working perfectly. I'll be hap

[2018-12-22 02:30] hompsar commented on #249
So does this mean that Rainway will still continue to keep Windows awake even after entering the process into the override table?

[2019-01-04 16:01] TheMulti0 commented on #63
@healingbrew Since that is a relatively simple thing to do, is it already solved in Rainway 1.0.0?

[2019-01-04 20:58] JTTM commented on #63
@healingbrew Please close this issue. It was confirmed by Andrew to be added in 1.0.
![screenshot_20190104-105412](https://user-images.githubusercontent.com/14990787/50710657-a298fd80-100f-11e9-94f2-a4ebf1780d90.png)

[2019-01-04 21:09] #63 closed

[2019-01-18 07:44] TheMulti0 commented on #199
I love the idea. It can be a custom version (perhaps even one that you have to build yourself) that will have the self hosted client and all as well as more customization of network behavior and such.

[2019-01-31 00:22] #244 closed, assigned to nobody

[2019-01-31 00:22] #260 closed, assigned to neptuwunium

[2019-01-31 00:22] #192 closed, assigned to neptuwunium

[2019-01-31 00:23] #136 closed, assigned to FrobtheBuilder

[2019-01-31 00:23] #70 closed, assigned to neptuwunium

[2019-01-31 00:23] #88 closed, assigned to FrobtheBuilder

[2019-01-31 00:23] #19 closed, assigned to roman380

[2019-01-31 15:03] Migushthe2nd opened #267 "Location `systemprofile\Desktop` is not available"
# Location is not available
## Steps

- Open Rainway
- Open Settings
- Click account
- Click 'Upload Avatar'

## What happens

The explorer window does open, but is seems to default to `C:\WINDOWS\system32\config\systemprofile\Desktop`
The image is in Dutch
![image](https://user-images.githubusercontent.com/22274715/52062757-6951a000-2571-11e9-9150-4bd8e5526a37.png)
You can click ok OK, but if you

[2019-01-31 17:37] TheMulti0 commented on #267
Same for me.

[2019-01-31 17:40] TheMulti0 opened #268 "Touch-Screen Client Controls"
# Touch-Screen Client Controls

## What is intended
A turned off by default option to enable **"Touch-Screen Controls"** on the client.
Meaning that any device with a touch-screen could have an on-screen game-pad to play with.

## What is not intended
Some of you might say that the feature will be available for the mobile platform native apps, but I deny that - because the touch-screen web client

[2019-02-01 05:39] TheMulti0 opened #269 "Remove previous versions after updating"
# Title

Remove previous versions after updating.

For some reason, the beautiful new Rainway 1.0 client keeps previous builds after updating itself, meaning that it stores extra storage for no reason.

## Steps

- Open Rainway

- Update Rainway

## What happens

Rainway updates itself, but the previously installed version/s remain

![Image](https://i.imgur.com/qwgTK0h.png)

## What is expected

R

[2019-02-01 11:34] TheMulti0 commented on #269
@Codeusa

[2019-02-02 00:43] joecasanova opened #270 "Chromebook WebRTC Connection Failed"
ChromeOS version 71.0.3578.127 (Official Build) (64-bit)

Attempting to connect to play.rainway.com results in "WebRTC Connection Failed".  This connection has a desktop running Rainway and another desktop running the latest build of Chrome on Windows 10 Pro had no issue connecting to the gaming desktop to stream games.  Android phones also have the same issue on this network (and via 4G cellular)

[2019-02-02 02:41] JTTM commented on #270
It would be best to report issues on the Discord right now. Thanks.

https://rain.gg/discord

[2019-02-02 02:43] JTTM commented on #267
Thanks for the report. This is already known and being fixed.

Also, it would be best to report issues on the Discord right now. Thanks.

https://rain.gg/discord

[2019-02-02 20:50] azumukupoe opened #271 "GOG/Twitch games not detected"
# GOG/Twitch games not detected

It did work in a previous version

They aren't shown in Rainway

## Steps

- Install GOG/Twitch games to D: drive
- Refresh Rainway

## What happens

They don't show up

## What is expected

Them to show up

## Host

 - OS: Windows 10 Pro
 - Version: 1803

## Browser

 - OS: [e.g. macOS Mojave]
 - Version: [e.g. 10.14.1b]
 - Browser: [e.g. Firefox Quantum]
 - Brows

[2019-02-02 23:44] JTTM commented on #271
Thanks for the report! Right now the Rainway Team is very busy fixing many issues. It would be best to report bugs on the Discord until further notice.

https://rain.gg/discord

[2019-02-03 01:58] sakshamgoyal01 opened #272 "Installation succeeds, but Rainway silently fails to launch"
I installed it but when i click the icon, nothing happens. no rainway related processes are running in task manager. when installing, there is a splash screen for installing, then nothing.

windows 10 home
rainway 1.0.3.0

[2019-02-03 09:32] heksesang commented on #271
I have the same issue, except it detects _Brothers - A Tale of Two Sons_ and _Gwent_, but it does not detect _Worms W.M.D._ or _Little Nightmares_. All of them are installed on the G: drive.

[2019-02-03 09:41] heksesang commented on #271
In my case, reinstalling the games that were not showing solved it.

[2019-02-03 17:14] SimoFoto commented on #272
I have the same issue. I get the UAC admin privilege pop-up, when launching, bet afterwards - nothing.

[2019-02-04 04:00] sakshamgoyal01 commented on #272
[SquirrelSetup.log](https://github.com/RainwayApp/bug-tracker/files/2826473/SquirrelSetup.log)
installer log file

[2019-02-05 00:03] Wolframme commented on #272
Looked in the issue tracker for it, and I am indeed getting the exact same issue.

[2019-02-05 18:46] JTTM commented on #272
Hello! Thank you for reporting this! This has already been reported to the devs and is being fixed.

Also, it would be best to report issues on the Discord for right now.
https://rain.gg/discord

[2019-02-07 21:24] mcc42 commented on #223
Closed? Does that mean this is now a feature, where I can add addition games/programs?

[2019-02-07 21:25] level42ca commented on #223
Closed? Does that mean this is now a feature, where I can add addition games/programs?

[2019-02-07 21:54] Hackerknownas4 commented on #223
Means that they most likely fixed it and it will be coming in the next update

[2019-02-09 03:13] sakshamgoyal01 commented on #272
v1.0.4.0 and it still wont work.

[2019-02-09 14:58] UlyssesWu commented on #272
Same here with v1.0.4.0.
v1.0.3.0 could launch.

[2019-02-09 20:31] shirbr510 opened #273 "Installer silently fails to install Rainway"
# Installer Doesn't seem to actually work

I've been trying to use rainway since version 0.2.54 and it never worked. not even once.

I had a previous bug openned #217  and it was closed so I assume "hey, they might have actually fixed things!"

so I have tried installing version 1.0.4, and again, installer is starting and.... nothing happens

I was assuming "hey, maybe it did something, maybe it's

[2019-02-09 20:35] shirbr510 commented on #273
p.s, @FrobtheBuilder, can you please explain at least why was my ticket closed / not actually treated for almost a year?

[2019-02-10 15:56] ImJezze opened #274 "Scroll wheel doesn't work on the Dashboard"
# No scroll-bar in Games tab

## Steps

- Open the Rainway
- Select Games tab

## What happens

Rainway has detected over 100 games, but there is no scroll-bar to get to the bottom of the list. The mouse-wheel doesn't work either.

## What is expected

A scroll-bar to scroll down the list by dragging the bar or using the mouse-wheel.

[2019-02-11 06:18] rappo opened #275 "Installer 1.0.4.0 crashing on Windows 10"
## Steps

- Download & Run Installer_1.0.4.0.exe
- Error

## What happens

![image](https://user-images.githubusercontent.com/2245234/52548309-c45d7100-2d81-11e9-93b0-c9853da667c7.png)

## What is expected

Installer should not crash

## Spec

 - OS: Windows 10
 - 1.0.4.0

## Logs

[SquirrelSetup.log](https://github.com/RainwayApp/bug-tracker/files/2849996/SquirrelSetup.log)

[2019-02-11 06:47] rappo commented on #275
update: I got the installer to 'work'... seems like what happened is the Installer finished silently. Meaning, I ran the exe and the installer finished and disappeared. I thought the installer had exited/crashed, so I ran it again, getting this error (presumably due to the fact that it was already installed). Seems like a UX issue if that's actually the expected install process.

[2019-02-11 06:49] Codeusa commented on #275
Thanks for reporting this. Could you provide the last logs it produced? You can find them under

[code]

We need the Installer.log, Launcher.log and Server.log. Thank you.

[2019-02-11 07:01] rappo commented on #275
I cleared my appdata in an attempt to get the installer to work, so this is probably not useful, but here you go:

[Installer.log](https://github.com/RainwayApp/bug-tracker/files/2850078/Installer.log)
[Server.log](https://github.com/RainwayApp/bug-tracker/files/2850079/Server.log)

[2019-02-11 13:35] lynn commented on #273
Hey @shirbr510, thank you for being patient with us and giving Rainway another shot!

We've heard from multiple users that they're having with the latest installer, and we're looking into the issue this week. I'll ping you here when we resolve it and push a version with a fix.

(Sorry your last ticket was closed without proper communication on our end. The 1.0 release is such a drastic change to a

[2019-02-11 14:02] lynn commented on #274
Thanks for reporting this.

Scrolling your games list with the mouse wheel _should_ work if you click the space between the game cards first, to focus the window. I added a subtle scroll bar anyway, to make this more obvious.

If you connect to https://play.rainway.com in your browser, do you experience the same behavior, or are your games scrollable there?

[2019-02-11 14:33] shirbr510 commented on #273
It's alright and I'm looking forward to hear from you :)
as you said, communication is key and I'm glad that you understand that

let me know if you need any additional information or anything
(by chance, I'm a software developer so let me know if I can come in handy in getting my hands dirty too 😄 )

[2019-02-13 02:29] sakshamgoyal01 commented on #272
1.0.6.0 doesn't work either.

[2019-02-13 05:27] Codeusa commented on #272
Have you verified its just not in your tray icon? Could you attach logs if its not running still?

[2019-02-13 06:00] UlyssesWu commented on #272
v1.0.6.0 works for me.

Although I always get a "Network Error" when trying to sign in. (from v1.0.3.0 to v1.0.6.0)

[2019-02-13 22:25] sakshamgoyal01 commented on #272
no error. no warning. nothing. it's completely silent. and no tray icon either. this is a new computer so i dont understand why this is happening.

[2019-02-13 22:33] sakshamgoyal01 commented on #272
i have indexed my whole pc, searched for rainway, deleted all of it, re-installed, problem persists.

[2019-02-13 23:39] AnthonyM commented on #272
@sakshamgoyal01 I'm trying to track this down. Would you be able to give the logs from
C:\Users\<your username>\Local\Rainway, Inc\Launcher\Launcher.log
and
C:\Users\<your username>\Local\Rainway, Inc\Installer\Installer.log

and if you give me your computer name I can check if we're seeing any exceptions coming through on our end.

Thanks

[2019-02-14 03:37] sakshamgoyal01 commented on #272
my computer: lenovo y7000p. it may be under the name of y530 (the y7000 is a y530 rebranded).

i dont have a launcher.log
my installer.log:
2019-02-12 20:06:48,051 [1] ERROR InstallTool.Program - Installer Method Timing
System.Exception: Not an exception
2019-02-13 16:32:55,312 [1] ERROR InstallTool.Program - Installer Method Timing
System.Exception: Not an exception

[2019-02-14 03:38] Codeusa commented on #272
@sakshamgoyal01 When we say computer name, we mean the name that appears under "Control Panel\System and Security\System"

![image](https://user-images.githubusercontent.com/1297077/52761103-f27fc280-2fc6-11e9-8e87-7eb7196c9214.png)

Sorry for the confusion.

[2019-02-14 04:37] sakshamgoyal01 commented on #272
name: Saksham-lenovo
it is exactly as above.

i only have windows defender installed. it is not blocking the installation (from what i could tell). idk how to turn it off

[2019-02-14 18:55] AnthonyM commented on #272
There are a couple other things we can try to narrow the problem down, if you don't mind.

First thing would be to make sure the Radar service is actually working

[code]
That should tell you if the service started successfully.

[2019-02-14 22:11] sakshamgoyal01 commented on #272
![image](https://user-images.githubusercontent.com/19929553/52821000-2e706180-3073-11e9-8331-43413b2816ba.png)

[2019-02-14 23:13] Aubins opened #276 "Endless echoing audio"
# Title

There is an endless audio loop when starting and trying to play any game.

## Steps

Open a game, listen to endless audio

 - OS: Windows 10 Home
 - Version: 17134

## Browser

Browser: Chrome / Latest

No logs yet.

[2019-02-15 23:38] AnthonyM commented on #272
Okay, so the service isn't able to start.

Are you by any chance running 32 bit windows? You can check by the steps below.

[code]

[2019-02-16 00:39] sakshamgoyal01 commented on #272
nope... 64 bit. i thought windows 10 doesnt support 32bit.

[2019-02-16 17:07] ImJezze commented on #274
Sorry for my late response. I updated to 1.0.6.0 and the games tab now has a scollbar. Thanks for that!

However the mouse wheel still does not work in the desktop client (games tab, settings tab). I clicked between the game tiles as you suggested, but no luck. I also connected to the web version and there the mouse wheel works just fine.

[2019-02-16 21:29] MysticLight commented on #223
There is a way to use certain things such as Geforce Now and internet browser, which all you have to do is add them as a non-steam game on steam, and reset rainway's data. Then it will appear on raincloud

[2019-02-16 21:30] MysticLight commented on #223
You might have to exit rainway a couple of times to fix the images

[2019-02-16 21:33] MysticLight commented on #223
Though only problem is, some applications such as Office Word, rainway identifies them as a different app and puts a different image. Some apps just dont have images too

[2019-02-17 03:16] sakshamgoyal01 commented on #273
I have the same issue. follow my thread too. there are a few possible solutions there.

[2019-02-17 03:44] sakshamgoyal01 commented on #272
![image](https://user-images.githubusercontent.com/19929553/52908091-f82e1000-3233-11e9-9216-89ac361c491b.png)

[2019-02-17 09:42] shirbr510 commented on #273
@sakshamgoyal01 thank you :)
next time, please add a link to your issue so it will be easier to find it 😄  ( #272  )

[2019-02-17 11:51] TicklesTheBrain commented on #272
It actually launches for me fine on 1.0.6.0 So whatever my problem was with 1.0.3.0 and 1.0.4.0. its different from what saksham is encountering.

[2019-02-17 22:39] shirbr510 commented on #273
followed the steps on #272 and it seems like the radar service doesn't even get installed properly on my computer
![image](https://user-images.githubusercontent.com/6445074/52920489-ab226a80-3315-11e9-89fa-46cd205d57f3.png)

[2019-02-17 22:58] shirbr510 commented on #273
@lynn I have tried installing 1.0.6 and the problem still exists

[2019-02-18 15:37] lynn commented on #276
Hey @Aubins — are you by any chance trying to test Rainway by launching a game from the web client on the same device as the one hosting the Rainway application?

That's the one thing we know for certain might cause this issue — and really we should detect this case and prevent users from running into it.

If not, we'd like some more info:
* What kind of computer is hosting the Rainway Dashboard,

[2019-02-19 10:48] lynn commented on #274
Hey there, glad there's at least one way you can scroll your games now :) But still, the scroll wheel should really work. We'd like some more info from you so we can solve this issue.

* Can you tell us what version of Windows you have installed, and if there's anything you can think of that might be interfering with the scrolling?
* Maybe silly, but -- what mouse are you using?
* Does scrolling w

[2019-02-19 20:48] MarkoBuxar opened #277 "[Mac OS] Video output freeze on virtual desktop change"
# Title

Video sometimes completely freezes on virtual desktop change on Mac OS, input still works as intended

## Steps

- Connect to the host pc (desktop control, game...)
- Switch virtual desktops
- focus a different app
- Interact with the other app
- switch back to rainway client
- repeat if necessary

## What happens

Video output completely freezes on the last visible frame, input still wor

[2019-02-20 21:26] AnthonyM commented on #272
@TicklesTheBrain I made some changes to help with this in 1.0.6.0

If it's working well for you that's good.

@sakshamgoyal01 There is still 32 bit windows 10, it's just not very common. That was apparently one possible cause. I'm still trying to figure out what else might be causing that error.

[2019-02-22 04:52] theofficialgman opened #278 "Rainway Server Randomly Crashes (gets closed out)"
# Title
Rainway will infrequently randomly crash an unknown time after running. I will check my system to see that rainway is running only to find that the rainway process is not running and only the radar is. I also can't restart the process until manually force closing radar.

## Host

 - OS: Windows 10 Education
 - Version: 1809

[2019-02-22 22:00] sakshamgoyal01 commented on #272
any update?

[2019-02-22 23:43] Amphyross opened #279 "Unable to remove Steam account"
# Title

Unable to remove Steam account both in-browser and the desktop client

## Steps

- Go to account settings
- Click the remove button on Steam's icon
- "Connected" text will very briefly change to "Pending..." before reverting back to "Connected"

## What happens

Upon trying to remove steam from the account, "Connected" text will very briefly change to "Pending..." before reverting back to

[2019-02-23 21:26] marcschroeder opened #280 "Multimonitor support"
I would like to use Rainway with three monitors at once.

[2019-02-25 18:10] agentd00nut commented on #279
Steam account details were being removed but were not properly being seen as removed when checking a users integration status.

Basically it actually worked but wasn't properly updating the frontend.

This should no longer be an issue.

[2019-02-25 18:11] #279 closed

[2019-02-27 23:31] lynn commented on #280
Hey there @marcschroeder, can you give us some more info?

You should be able to select a display to stream a game from under _Settings → Hardware → Display_ on the Rainway Dashboard.

Is it that you'd like to use Remote Desktop and see all three of your home monitors \*at once\*? Or would you like there to be a way to switch between monitors from the client?

[2019-02-28 00:45] FrobtheBuilder commented on #280
If you're using something like an Eyefinity setup, it should work with that out of the box since all the monitors are treated as one. What exactly are you asking for?

[2019-02-28 01:05] leem919 opened #281 "[Suggestion] Virtual mic connected to client mic"
I think you should run a virtual mic to the server from the mic on the client's computer so you can contact teammates ingame

[2019-02-28 06:36] marcschroeder commented on #280
Hey, thanks for your reply. I would like to use it with 3 monitors at the same time. I haven't tried eyefinity, but I will give it a try.

[2019-02-28 13:28] roman380 commented on #280
Out of curiosity, are all three to remote a specific game or you are interested in remoting a multi-monitor setup in general such as, for example, a game on primary and then the other two showing auxiliary stream not necessarily related to the game. Trying get a better idea of use case.

Also from technical perspective this might be a bit hard to do due to objective limitation. Some video hardware

[2019-02-28 14:11] marcschroeder commented on #280
I would use them for everyday work, as well as gaming. Right now I use rdp for multimotor and parsec for gaming. I would like to switch to one software for both use cases.

[2019-02-28 20:09] RossDanbyGamer opened #282 "Client Machine Connecting Loop/Stuck"
When connecting to my gaming pc locally, I log in on the page play.rainway.com and then the page says connecting, it has stayed on the page since and rebooting both server and client doesn't change. I have attempted to fix this issue with the support channel, they are just as confused as me.

[2019-02-28 21:06] ImJezze commented on #274
I'm using Windows 10 Version 1803.
The mouse is a Logitech MX Anywhere.
The scrolling is also not working on the Settings tab.
I never had any similar issues in other apps before.

However, I tested the problem on another PC with a similar configuration and the scrolling worked properly. Therefore I think this issue can be closed. If I find out what the problem is on the original PC, I'll leave a

[2019-02-28 21:20] #274 closed

[2019-02-28 21:32] lynn commented on #281
Hey @leem919! We love that idea and it's been on our list of dream features for the app for a while.

(In fact, we've already taken some measures to ensure Rainway can support this in the near future!! 🚀)

When the team gets around to implementing it, we'll be sure to let you know.

[2019-02-28 21:51] SoySauceSH opened #283 "Adding Custom Thumbnails to Games"
One real step to be able to unify users library on the home client, would be if users were able to add custom thumbnails to their games, At the Moment, Certain Origin and Windows Store Titles display incorrect thumbnails, while other may have better, higher resolution alternatives online.
![image](https://user-images.githubusercontent.com/37749753/53601017-191e2b80-3b79-11e9-98b2-4495dd471d27.png)

[2019-03-01 02:48] portalpiggy opened #284 "Rainway installs, but fails to launch"
## Title
Installer finishes, but when the application is launched, nothing happens (Ver 1.0.6)

## Did it work/not work on a previous verison

It worked on the beta version up untill the full release

## Steps

Download the installer from the Rainway site
Run the installer
Open application from desktop

## What happens

Installer runs correctly, asks for admin permission and then closes, but when

[2019-03-01 02:54] sakshamgoyal01 commented on #284
if only this was stackoverflow.....
*MARKED AS DUPLICATE*
i already opened this issue and so have many others.

[2019-03-01 02:57] portalpiggy commented on #284
whoops

[2019-03-01 02:57] #284 closed

[2019-03-01 03:00] portalpiggy commented on #272
Having the same problem on Rainway V1.0.6

[2019-03-02 09:54] Blakeinstein opened #285 "Unable to Link steam account. (plus a weird chrome window)"
# Steam Link doesnt work

logging in to steam and accepting link returns false page that (https://rainway.com/oauth/?success=false&service=steam&error_code=0&error_message=user-not-logged-in) that says link successful.

## Steps

- Open Rainway
- Go to Settings
- Go to Accounts and scroll down.
- Click on steam, in the succeeding window log in in to your steam account and then confirm the integrat

[2019-03-02 10:38] xorinzor opened #286 "Android TV app"
**Is your feature request related to a problem? Please describe.**
Opening a browser on any kind of smart-TV is quite a pain in the ass, not to mention they're rarely optimized and as such will offer a worse experience / performance.

**Describe the solution you'd like**
It'd be great if an Android TV app could be added, so you can remotely stream games to your TV too. Given that Android TV suppor

[2019-03-02 14:31] Idearum opened #287 "Rainway disabled Enhance pointer precision on launch"
# Title

Rainway disabled **Enhanced pointer precision** silently without notifying the user nor option to control it.

## Steps

- Ensure Rainway is not running.
- Open **Mouse Properties** in Windows and navigate to the **Pointer Options** tab.
- Enable **Enhance pointer precision**.
- Close the window.
- Launch Rainway.
- Re-open the **Mouse Properties** and check the **Enhance pointer precisio

[2019-03-03 21:56] JTTM opened #288 "[UI Enhancement] Friends Server Offline"
I think it would be beneficial if the "Friends Server Offline" error is changed to something like "Friends is still in development" until the friends server is available.

There have been quite a few people asking on the Discord about the error despite the multiple announcements made in the past.

[2019-03-03 23:18] andritolion opened #289 "Prevent Rainway from turning off GameDVR"
**Is your feature request related to a problem? Please describe.**
Whenever I start my PC, I have Rainway start on startup. This disables my GameDVR. I have lost several moments due to GameDVR not being enabled when I need it. I have heard on the Discord server from Jon that GameDVR might be automatically disabled for performance reasons.

**Describe the solution you'd like**
I would like a toggle

[2019-03-03 23:33] andritolion opened #290 "Start Rainway as an EXE"
**Is your feature request related to a problem? Please describe.**
Since Rainway starts as a service, it is not visible in the Startup Apps section of Settings, nor Task Manager's Startup tab.

**Describe the solution you'd like**
To list Rainway in the Startup Apps section, why not make Rainway initially start as a EXE that launches the Rainway Radar service?

**Describe alternatives you've consi

[2019-03-03 23:48] sakshamgoyal01 commented on #272
any update.

[2019-03-03 23:53] andritolion commented on #290
Since Andrewmd5 told me on Discord that Rainway needs to initially start as a service to prevent a UAC, I have a idea for a dirty workaround.

Make a Rainway startup EXE.
On startup, make the Rainway Radar service check if the mock startup EXE is running. If it is running, continue loading Rainway. If not, halt.
This also has the effect of potentially bypassing the UAC when you restart Rainway fro

[2019-03-04 00:34] sakshamgoyal01 commented on #290
i mean... ccleaner has an option to bypass UAC... why not put this in here?

[2019-03-04 02:22] sakshamgoyal01 commented on #272
still waiting for a fix

[2019-03-05 17:51] TheMulti0 opened #291 "Custom UI option for developers"
**Is your feature request related to a problem? Please describe.**
There isn't a big problem, the only one I can think of is people not liking the current server UI, which uses CEF and basically swallows your RAM.

**Describe the solution you'd like**
I'd like a nice solution for developers to customize Rainway (Please don't tell me that Rainway Home is what I'm addressing, because as far as I lea

[2019-03-05 18:45] Sixmorphugus opened #292 "Cannot download the Rainway client in firefox"
# Cannot download the Rainway client in firefox

I do not know if this worked in a previous version

If you navigate to the Rainway website in Firefox, Waterfox, or some other version of the Firefox browser, the wrong version (v0.0.0000) of Rainway is shown and you cannot start downloaded rainway, even with the try again button on the download page.

## Steps

- Using Firefox/Waterfox, visit the R

[2019-03-05 20:27] Codeusa commented on #292
Can you load https://releases.rainway.com/Installer_current.json in your browser?

[2019-03-05 22:47] Sixmorphugus commented on #292
![image](https://user-images.githubusercontent.com/7923357/53842861-92ae8300-3f98-11e9-8e38-665678726d20.png)

I get this in Waterfox.

[2019-03-06 07:14] JTTM opened #293 "[Analyzer] Candy Crush Doesn't Show Up (UWP)"
User reported in #support on the Discord:
Candy Crush (from Microsoft Store) not showing up in Rainway.

No further information.

[2019-03-06 11:01] Iragnir opened #294 ""Account Inactive" error message"
Steps
1) Create account
2) Forget to verify the account with the mail sent after the account creation
3) Try to log in
4) Error message "account inactive" appears

Expected to happen : message "account not verified" maybe with a link to https://rainway.com/resend ?

[2019-03-06 20:43] agentd00nut commented on #285
Needing to use the browser you are logged in on is a known issue.

The `success=false` not showing an error has been fixed, which should remove some of the confusion.

[2019-03-06 20:49] #285 closed

[2019-03-09 14:58] knagieknagger commented on #267
Still applicable to 1.0.7.0
The error only changes the name to show the selected library, attached the English version of the error message.
![error](https://user-images.githubusercontent.com/7049201/54073134-ef08ef80-4283-11e9-8c40-4f2a29e3c439.png)

[2019-03-09 15:17] Knagie opened #295 "Open dialogue not supporting File Manage dark mode/theme"
Open dialogue not supporting File Manage dark mode/theme

I haven't tried it in a previous version so I don't know if it is, I would think it is.

## Steps

- Open the dialogue to change your avatar
- Look at the way the window is displayed with dark and light theme mixed or one specific one.
- Close the dialogue and re-open it.
- Look at the way the window is displayed with dark and light theme m

[2019-03-09 18:05] Amphyross opened #296 "Unable to move steam account to new rainway account"
# Title

After removing Steam from old Rainway account, new Rainway account says there was an error adding the Steam account

(I am using client, as there seems to be an update that I cannot test with the pc's local browser anymore
and I do not have a separate device available at the time of writing)

## Steps
(will be using account 1 and account 2 for easier following
account 1 = old rainway acco

[2019-03-09 18:07] Amphyross commented on #296
Also apologies, I am unable to provide a screenshot of the error message now that both are stuck on pending

It was the usual "Message the support chat, or submit a new issue" text

[2019-03-09 22:56] sakshamgoyal01 commented on #272
still waiting....

[2019-03-10 14:10] TheMulti0 commented on #291
Hey.. did anyone notice this?

[2019-03-10 19:52] Amphyross commented on #296
I checked again today, it said "not connected" so I attempted to add it again
This was the error message I received when using the new Rainway account

![image](https://user-images.githubusercontent.com/47581522/54090600-e1b33a00-4343-11e9-993f-28facdb8ac90.png)

Both accounts now appear as "Not Connected"

[2019-03-11 12:34] ajrc0re opened #297 "Mouse scrolling is multiplied"
# Mouse scrolling is multiplied

It has never worked right for me

I have windows set to scroll 3 lines per notch, but when in a rainway session, scrolling one notch moves me 10+ lines, significantly farther than normal. Also, the distance moved isnt consistent, sometimes you will scroll 16 lines, sometimes 10, so scrolling up and down will always leave you in a different spot, which makes me thin

[2019-03-11 15:56] agentd00nut commented on #292
This is caused by that json file not being encoded "properly".

JSON files are supposed to be encoded as UTF-8.

Our file is being encoded as UTF16LE which places a byte order marker (FF FE) bytes at the front of the file.

Firefox is seeing these bytes and isn't properly ignoring them the way that chrome and other browsers apparently do.

I converted the encoding of the file and firefox was able

[2019-03-11 15:56] #292 closed

[2019-03-11 18:21] agentd00nut commented on #296
Give this a go again, There were a few issues with the api response..

Some notes;
1. There's nothing limiting the steam account from being linked to two rainway accounts.
2. The revoking process and sign up processes should be working fine.

There is a bit of delay and buggyness with the state of the integration buttons.  For example when revoking steam it seems to not do anything on the first cl

[2019-03-11 23:04] ajrc0re opened #298 ""Alert: Network connection lost" pop-ups since the 1.0.7 update"
# Title

Worked fine in previous version, pop-ups constantly, every 3-5 minutes while in a session.

## Steps

- Start a new session
- pop ups happen every 3-5 minutes

## What happens

"Alert: Network connection lost" appears in a toast notification at the bottom of your screen every 3-5 minutes. The actual connection is never lost, I wasnt dropping any frames, noticing any issues at all with my

[2019-03-12 04:05] dgodfather commented on #280
I would like to be able to switch between monitors from the client using remote desktop functionality.

[2019-03-14 19:58] TheJF commented on #120
This still doesn't seem to be fixed. I could never use Rainway because it would not find any game else than a shortcut I have to Minecraft. None of my Steam games or others are found. This is on Windows 10.

Note that the games are installed on various hard drives, so I imagine this is installing to the C drive, where there are no games, and I can't find any way to tell it to look on other hard dr

[2019-03-14 20:56] bdodroid opened #299 "Crashes as soon as selecting a game from list."
# Title

Crashes as soon as trying to load any game from list.

## Steps

- Go to play.rainway.io
- Sign in
- Select any game option from list (Including desktop)

## What happens

Black screen for 1 second then back to game selection list with a pop up asking me how my experience was.

## What is expected

The game should load in my browser.

## Host

 - OS: Windows 10 Home
 - Version: 17134

##

[2019-03-14 21:40] jakeob28 opened #300 "play.rainway.com stuck on loading screen"
# play.rainway.com stuck on loading screen

Unaware whether it has worked in a previous version.

## Steps

- Go to https://play.rainway.com/, login if necessary

## What happens

Screen is stuck on the loading animation. ([Screenshot](https://i.imgur.com/c5MC9R3.png))

## What is expected

Website continues to whatever page is next

## Host

 - OS: Windows 10 Pro
 - Version: 17763

## Browser

 -

[2019-03-14 21:47] sakshamgoyal01 commented on #272
1.0.7 doesnt work

[2019-03-14 21:48] sakshamgoyal01 commented on #272
please change the label of this issue to 1.0.7
this needs to be fixed.

[2019-03-15 09:16] dudeitsjackwild opened #301 "Host doesnt see controller connected to client"
Host doesnt see controller connected to client

It did work in a previous version

running rainway chrome client on MacOS, rainway web portal acknowledges the controller but the host pc doesnt.

steps: connect to rainway webclient, plug usb xbox one controller/ps4 controller in. rainway webclient acknowledges the controller, launch game/remote desktop, controller is not acknowledged/unresponsive t

[2019-03-15 13:17] Amphyross commented on #267
Just ran into this issue
was checking if this was related to issue #295

however it also happens when light theme is applied
![image](https://user-images.githubusercontent.com/47581522/54433781-aa091100-46fa-11e9-9d61-ca9555ad68d8.png)

Windows 10 Pro 1809
OS build 17763.316

[2019-03-15 23:16] marci012 opened #302 "gamepad not detected"
# Title

gamepad not detected on remote computer

## Some description

the controller is connected to the computer. the computer detect it as a xbox controller. rainway does not detect the controller and still display no gamepad. the same gamepad work on my phone.

## What is expected

i expect my controller to be detected like it did on my phone

## Host

 - OS: [e.g. Windows 10]
 - Version: [e.g

[2019-03-20 09:32] SamuFinland commented on #297
I have the same problem, mouse scrolling does nothing at first, but when it does, it goes at 6x multiplier downwards and 4x multiplier upwards

[2019-03-20 18:51] Yumegipsu opened #303 "No games load when you have Steam games on external hard drives"
# No games load when you have Steam games on external hard drives

When I start the Rainway client, it gets stuck on "Finding Your Games" indefinitely.  This only happens when the external hard drive with my Steam games is plugged in (When it's unplugged, non-steam games do show up).
## Steps

-Have the Steam application and games installed on 1 or more external HDD.
-Open the Rainway client

## W

[2019-03-20 20:02] sakshamgoyal01 opened #304 "update?"
waiting on an update on my issue. it has been weeks
https://github.com/RainwayApp/bug-tracker/issues/272

[2019-03-20 23:11] DJMarramiau opened #305 "Game not recognized by Rainway"
The games "Call of Duty: Modern Warfare Remastered - Multiplayer" and "Call of Duty: Modern Warfare Remastered" doesn't get recognized by the App, Server.log file says: 2019-03-20 23:55:41,562 [32] WARN Rainway.Core.Network.Http.Utils.RainwayApiHelper - Call of Duty: Modern Warfare Remastered - Multiplayer is missing metadata! Platform ID: 393100, Platform: Steam.

OS: Windows 10 Pro 64 bits.

[2019-03-21 18:19] Hopalonger commented on #270
I am having the Exact Same Problem On a Chromebook It was working for a bit and now there is just the WebRTC Connection Failed.

[2019-03-22 02:51] StackDoubleFlow commented on #304
This needs to get fixed

[2019-03-22 02:53] StackDoubleFlow commented on #272
Still waiting for this one

[2019-03-26 00:23] lynn commented on #291
Hi there, @TheMulti0!

I like this idea, but right now it wouldn't be very trivial for us to hook up, and there are some security concerns (someone could easily create a client that looks and acts a lot like Rainway's but also sends your data off to some third party, for example).

The idea of a “thin Dashboard” is one we've discussed a lot among the team, though! We share users' frustration with

[2019-03-26 00:38] lynn commented on #302
You might have to wiggle a stick or press a button on the controller after plugging it in. For privacy reasons, the browser hides the gamepads from Rainway until the user tries to use them.

Can you please try these steps for me?

1. With your gamepad plugged in, open a new browser tab in Chrome.
2. Press **Ctrl + Shift + J** to open the JavaScript console.
3. Input `navigator.getGamepads()` and h

[2019-03-26 00:42] lynn commented on #304
Hey there, our developers are still investigating this issue, but it remains elusive. We promise we'll let you know once we find out what's up with this, but for now we'd like to limit discussion to #272! Thanks for understanding.

[2019-03-26 00:42] #304 closed

[2019-03-26 00:45] lynn commented on #272
Hey! Our developers are still investigating this issue, but it remains elusive. There have been a few patches to the installer since we first got reports on this issue, but sadly enough – despite our efforts – it still seems present in the latest version. So we'll keep at it.

We promise we'll let you know once we find out what's up with this!

[2019-03-26 00:51] marci012 commented on #302
Hi,
Thanks for the feedback. For some reason I didn't have to do these steps and it started to detect the controller today. Thanks for helping

[2019-03-26 00:52] lynn commented on #298
We have a fix coming up for this — we're going to try to push it out tonight. Hopefully you can try it out and let us know if the issue is resolved :)

[2019-03-26 01:12] lynn commented on #302
Glad to hear it! Thanks for letting us now. :sparkles:

[2019-03-26 01:12] #302 closed

[2019-03-26 07:46] TheMulti0 commented on #291
Hi.
I guess you can get around data privacy, but that may take too much resources, so I understand.
However, I'd be very happy to contribute to Rainway in some way to add cool non priority features!

[2019-03-26 18:23] lynn commented on #299
Hey there, @bdodroid!

That looks like it could be a ChromeOS/Android issue to me — the client is still a little rough around the edges on those platforms.

We'd like to check a few things:

* Do you experience the same issue connecting from Chrome on a laptop running Windows?
* What's your Rainway username?

Thanks for reporting! :sparkles:

[2019-03-26 23:33] lynn commented on #297
Hey there! Thank you for reporting. We know what causes this issue and are looking into a fix. Indeed, scroll events are getting erroneously "amplified" by Rainway. You'll hear back from us once we've resolved the issue. 🚀🎮🌟

[2019-03-27 14:21] agentd00nut opened #306 "test"
there is a bug!

[2019-03-27 14:21] #306 closed

[2019-03-27 14:29] agentd00nut opened #307 "Such and such"
user: regisTest
did not work!

[2019-03-27 14:30] agentd00nut commented on #307
Just need a dedicated user / bot to make these now.

[2019-03-27 14:30] #307 closed

[2019-03-28 19:40] lynn commented on #288
Fixed — the add friends button is marked “Coming Soon!” now.

Sorry for the mixed messaging on our end. We intended to have the Friends Server online a few days after the 1.0 release, but it ended up being kind of a rabbit hole to get fully working, and we didn't want to prioritize it right now. It'll make more sense in the future when we move focus to features like Rainway Party.

[2019-03-28 19:40] #288 closed

[2019-03-28 19:44] lynn commented on #286
Heya! The upcoming platforms we're tackling are Xbox One and iOS — one step down the roadmap from there is Android. If all goes well, we _should_ be able to make our app compatible with Android TV as well as regular Android phones and tablets. When we get to that point, we'll be sure to take this possibility into account.

[2019-03-29 22:14] bdodroid commented on #299
@lynn Rainway user name is bdodroid
I don't have any other windows devices to test with unfortunately, its all android and chromeOS apart from my gaming rig.
But it looks like uninstalling and re-installing rainway a couple times seemed to have fixed it.

Now its just down to a performance. I dont know why but since about the time of the big ui overhaul to the client I cant seem to get anything to

[2019-03-30 01:53] lynn commented on #299
Hey, glad you got it to work! 🚀

Sorry to hear you've experienced a performance hit. What data do you see when you visit [this link](https://nexus.rainway.com/hardware_d.html)?

[2019-03-30 07:51] JTTM commented on #294
Another user on the Discord was confused by the message today.
![image](https://user-images.githubusercontent.com/14990787/55273237-d67d6b00-526c-11e9-8f60-8f3a18e9e4d1.png)

[2019-03-30 08:29] kushsolitary commented on #294
@agentd00nut can we change the response from "Account inactive" to something like "Your account is unverified. Please check your email for verification instructions. Click here to resend the verification email if you haven't received it"?

[2019-03-30 10:36] Schlauer-Hax commented on #14
TruckersMP has Form banner

[2019-03-30 10:53] Schlauer-Hax commented on #14
Portal 1 & 2 are not showing up

[2019-03-30 11:02] Schlauer-Hax commented on #14
These Games are not in Rainway:
On Steam: Travildorn, Tank Universal, War Thunder, Warframe, Win the game: do it!, Word Killer: Togilonian Chronicles, Portal, Portal 2
On Ubisoft: Watch_dogs

[2019-03-30 20:28] Schlauer-Hax opened #308 "Watch_Dogs is not showing up"
# Title

I don't know if It did work in a previous version

Simply Watch_Dogs is not showing up in Rainway.

## Steps

- Make sure Watch_Dogs is installed
- Refresh the Games in Rainway
- Search Watch_dogs

## What happens

You can't see the Game.

## What is expected

You see the Game.

## Host

 - OS: Windows 10 Pro
 - Version: Version: 10.0.17763 Build 17763

## Logs
[Server.log](https://github

[2019-03-31 00:16] Hyzenthal opened #309 "Blue Tooth controller not detected by web client until connected by USB."
# Title

I had a Blue Tooth controller paired to the PC, steam detects it just fine and I could play games with it just fine, but Rainway's web client would not detect this controller nor any input I press on it, I had to plug the controller into the PC via USB before the web client would detect it. Once the web client detects the controller through USB it would work like normal after that, even t

[2019-03-31 04:14] bdodroid commented on #299
Interesting. Here's the info: (I did just update to Chrome 74 today)

    "os": "Chrome OS",
    "architecture": 64,
    "osVersion": null,
    "cpuCores": 4,
    "browser": "Chrome",
    "browserVersion": "74.0.3729.38",
    "product": null,
    "gpu": {
        "name": "Mesa DRI Intel HD Graphics 615 (Kaby Lake GT2)",
        "information": {
            "Name": "Haswell GT1",
            "Frien

[2019-03-31 20:18] roman380 commented on #289
I think GameDVR might have some impact on performance but I am not aware of reasons we should disable it. GameDVR might be competing with Rainway for system resources offering video remoting and some times the collision might be critical (AMD GPUs are coming to mind first). Perhaps it should be a good idea to disable GameDVR by default during streaming, restoring the original setting and maybe hav

[2019-04-01 14:36] agentd00nut commented on #294
Updated instructions, including to check spam folder for email, and added a link to resend page,

[2019-04-01 18:19] JTTM commented on #294
Thank you!

[2019-04-04 11:06] tabemono111 opened #310 "Can't install Rainway dashboard"
Can't install Rainway dashboard

Some description

I ran the install for rainway and it's giving me an error of "This application requires Microsoft .net framework v4.7.1, do you wan't to install it?" then i clicked yes. It redirected me to version 4.7.2 so i searched 4.7.1 myself. I tried to install the .net framework but then it says that i already have it installed. But The rainway installer is

[2019-04-05 19:15] naldo29 commented on #272
hey im having this issue, does anyone know how to actually fix it?

[2019-04-06 01:36] sakshamgoyal01 commented on #272
nope. still waiting.

[2019-04-06 13:14] naldo29 commented on #273
im having the same issie, if one of the devs want to check my pc for the issue, then your all welcome.

[2019-04-07 02:46] Codeusa commented on #272
@sakshamgoyal01 After installing Rainway, do this.

Control Panel->Administration->Services->Right Clicked Rainway Radar->Properties->Log On, switch to "This account", enter your username/password for Windows, and click OK.

![](https://i.imgur.com/XiwPqj3.png)

Now try running Rainway and see if it works.

[2019-04-07 03:05] sakshamgoyal01 commented on #272
![image](https://user-images.githubusercontent.com/19929553/55678007-0b666f00-58b8-11e9-8b0c-14b5af139c08.png)

[2019-04-07 03:07] Codeusa commented on #272
@sakshamgoyal01

can you try doing the following

- Uninstall Rainway
- Delete everything in C:\Users{Your Windows Name}\AppData\Local\Rainway and then the folder "Rainway" itself
- Open powershell and type "Remove-Service -Name RainwayRadar"
- Reinstall Rainway

Also after installing, go to the services page and right click on "Rainway Radar" and click properties, and copy and paste the "path to

[2019-04-07 19:31] sakshamgoyal01 commented on #272
path to exe:

"C:\Users\Saksham Goyal\AppData\Local\Rainway\Radar\Radar.exe"  -displayname "Rainway Radar" -servicename "RainwayRadar"

still doesnt work. when i uninstalled rainway, the service went away so i coundnt do the powershell thingy

[2019-04-07 19:32] sakshamgoyal01 commented on #272
when rainway is installed, I get this error in powershell when trying to remove the service while it is installed:
![image](https://user-images.githubusercontent.com/19929553/55688753-f6ceb900-5941-11e9-8dac-36d9f226f06c.png)

[2019-04-08 21:46] SoySauceSH commented on #283
Hey, has anyone gotten to this yet?

[2019-04-09 00:14] MattCastellana commented on #272
I had this exact issue and was able to get it working by first uninstalling rainway, and then deleting the RainwayRadar service using command prompt (Running as Administrator).

I used these commands:

And then:

Then I reinstalled rainway and it worked perfectly!   I think the issue happened originally due to the fact I tried installing a new version of rainway over top of my existing version, po

[2019-04-09 00:33] portalpiggy commented on #272
I've just tried all of these suggestions, but the problem still persists...

[2019-04-09 00:43] sakshamgoyal01 commented on #272
![image](https://user-images.githubusercontent.com/19929553/55765712-9cfbeb00-5a36-11e9-9934-144e97c4a83c.png)

[2019-04-09 00:45] portalpiggy commented on #272
same exact thing happened to me

[2019-04-09 07:20] nightninja87 opened #311 "display change"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-04-09 11:13] BetaLeaf opened #312 "Allow the client to connect anyways when connecting on host machine."
**Is your feature request related to a problem? Please describe.**
I like to test the latency of Rainway at it's core, which means I need to be able to connect to my host via localhost.

**Describe the solution you'd like**
Keep the current warning. It's perfect for users who don't understand. For anyone else wanting to experiment, a simple link to connect anyways to a server will do.

**Describe

[2019-04-09 11:21] agentd00nut commented on #312
Instead of a button on play.rainway.com that lets users bypass this local host warning, which *someone* is going to bypass not understanding what it means and get the warp screen effect and come ask about it because it happened all the time before the warning, we could have a "secret" play-local.rainway.com address.

play-local's difference would just be that it presents the user with the ability

[2019-04-09 11:22] BetaLeaf commented on #312
I really like this idea.

On Tue, Apr 9, 2019, 7:21 AM agentd00nut <notifications@github.com> wrote:

[2019-04-09 11:24] BetaLeaf commented on #312
It should be documented somewhere on the support site thought.

[2019-04-09 11:26] Inukinator opened #313 "Games Downloader?"
There's a few GOG Games downloader out there, and I was wondering if it could be possible to bundled one into rainway, in such a way, that the user can remotely trigger a download from e.g. mobile?

Thanks
// Bastian

[2019-04-09 11:31] Inukinator commented on #313
Theres [a linux client](https://github.com/Sude-/lgogdownloader) which is open source, shouldn't be too hard (but tedious ofcourse) to implement.

I might look into making a windows version later this month

[2019-04-09 11:31] BetaLeaf commented on #313
Unlikely to happen without working the game parser.

[2019-04-09 17:24] mmccall0813 opened #314 "Add Ability To Remotely Start Remotely"
**Is your feature request related to a problem? Please describe.**
Yes, this is related to a problem I sometimes have. Rainway for me crashes every once in a while.

**Describe the solution you'd like**
When on the screen of "Rainway desktop not found", add a feature (that first has to be enabled on the PC's Rainway desktop settings) to attempt to start Rainway

**Describe alternatives you've cons

[2019-04-09 17:43] healingbrew commented on #314
So basically you want the client to be able to identify offline servers, wake them up and launch Rainway as well?

[2019-04-09 17:43] mmccall0813 commented on #314
Something along those lines

[2019-04-09 17:47] mmccall0813 commented on #314
Now that I think more about this it would be really hard to implement it. Because how exactly would you contact the computer when said computer isn't running Rainway. The only thing I can think of is having some sort of background process almost always running on the computer.

[2019-04-10 00:58] lynn commented on #312
For now, I made it so that you can click the greyed-out host anyway to connect — unwary users should be deterred by the warning/disabled UI, while those who are sure they want to connect to "This PC" for some reason can still do so.

I don't have a strong preference between my solution or @agentd00nut's proposed one; if we start getting a bunch of confused users I'll implement his :)

[2019-04-10 00:59] lynn commented on #312
@BetaLeaf  It should be live! Can you check if it works?

[2019-04-10 04:09] BetaLeaf commented on #312
@dust-b0wl For some reason, I cannot test.

bundle.93aa15301e0b608c0f9f.js:42 TX ONLY (wrapped) NatatoriumUserListRequest on Unnamed
98835257d79be02aeffc.worker.js:1 AqueductFrameRequest
bundle.93aa15301e0b608c0f9f.js:42 RX NatatoriumUserListResponse on Unnamed
bundle.93aa15301e0b608c0f9f.js:55 Array(2)
bundle.93aa15301e0b608c0f9f.js:55 [mobx] Encountered an uncaught exception that was thrown by a

[2019-04-10 04:43] BetaLeaf commented on #312
@lynn Yup worked great. The issues above is unrelated and I'm fixing it myself. Gonna close this now. Thanks.

[2019-04-10 04:43] #312 closed

[2019-04-10 05:13] BetaLeaf opened #315 "Server reselection (After already selecting a server)"
**Is your feature request related to a problem? Please describe.**
No. My request is simple. I'd like to be able to change servers after I have already selected one.

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/7028351/55853109-af0c8500-5b2d-11e9-9708-3258795aff9a.png)
The object in red should be clickable, and allow you to re-select a server.

**Describ

[2019-04-10 05:30] BetaLeaf commented on #315
I just learned that the feature was delayed. That's cool. Let's get more client support (xbox, ps4 ios, android, mac, linux, switch) before working on this low priority feature request.

[2019-04-10 05:59] BetaLeaf commented on #312
![https://i.imgur.com/cCfaAdP.gifv](https://i.imgur.com/cCfaAdP.gif)

[2019-04-11 08:07] TheMulti0 commented on #268
Yo. Can you agknowledge that please?

[2019-04-11 15:16] healingbrew commented on #268
We'll investigate this request.

[2019-04-11 15:17] healingbrew commented on #315
This feature will most likely be implemented with Party, which is still a ways off.

[2019-04-11 20:20] lynn commented on #268
We already know for certain that we're including this feature in our native apps, but there are a lot of design considerations to work out first.

Once we figure out how exactly to tackle this in the native apps, we will think about bringing it to the web client as well.

[2019-04-11 20:22] lynn commented on #310
Hi @tabemono111, thanks for reporting this.

Which version of .NET Framework did you try to install in this situation, 4.7.1 or 4.7.2?

[2019-04-11 20:30] FrobtheBuilder commented on #315
This could probably be implemented entirely clientside by simply adding a host selector to the main ui and then refreshing with a query param that tells the client to connect to a specific server. It shouldn't need any server changes at all.

[2019-04-11 20:45] BetaLeaf commented on #310
A program that runs on 4.7.1 should work fine under 4.7.2. DOTNET tries to maximize backwards compatiblity, so in theory it should work fine under 4.7.2.

If you installed either 4.7.1 or 4.7.2 and Rainway didn't detect the install, reboot your computer and try to install Rainway. It should install properly this time.

[2019-04-11 20:51] BetaLeaf commented on #289
Rainway SHOULD be warning the user that GameDVR can have an impact on Rainway's performance and ask the user if they want to disable GameDVR, instead of outright disabling it without asking.

[2019-04-11 22:41] AnthonyM opened #316 "Allow controlling the stream/client from a controller."
**Is your feature request related to a problem? Please describe.**
When using Rainway with a controller, I can't open the overlay or control the UI with a controller.

**Describe the solution you'd like**
it would be nice to be able to press a button and have a controller friendly overlay come up. When selecting a game, using the controller would be nice.

**Describe alternatives you've considered

[2019-04-11 22:46] AnthonyM opened #317 "When using Rainway on a phone, some games have a cursor stuck in the upper left."
# Title

It did/did not work in a previous version

Some description
Using Rainway on a phone, some games have the mouse cursor stuck in the upper left. Rocket League does, cuphead does not.

## Steps
## What happens
Start rocket league on a  phone, while using a controller.  the cursor is stuck in the upper left.

## What is expected
No cursor as I'm using a phone and don't have a mouse.

## Host

[2019-04-12 09:10] healingbrew commented on #268
Reopening this issue for tracking.

[2019-04-12 09:42] roman380 commented on #311
Overall this sounds like a reasonable suggestion even though it might be somewhat more complicated in real world scenarios. In the two displays are similar in properties this sounds easy, however they might have different resolutions and other properties which would eventually make desired streaming settings different. So this should be taken into account in general and also in settings UI. I don'

[2019-04-12 14:09] mmccall0813 opened #318 "Scrolling with trackpad causes scrolling to be heavily multiplied"
# Title
Scrolling is multiplied when using a trackpad
## It did/did not work in a previous version
Unsure
## Some description
I use rainway with a Chromebook and I'm almost unable to scroll without hitting the bottom of the page when using the trackpad.
## Steps

- Use Rainway on a laptop (might only happen on Chromebook)
- connect to host
- use remote desktop or launch a game then alt-tab
- scrol

[2019-04-12 14:11] mmccall0813 commented on #318
After playing around with scrolling a bit more, it seems to only happen when I scroll down.

[2019-04-13 09:49] tabemono111 commented on #310
so actually the installer said it must install 4.7.1 but it redirected me to 4.7.2 so i downloaded 4.7.1 myself

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Lynn <notifications@github.com>
Sent: Friday, April 12, 2019 4:22:13 AM
To: RainwayApp/bug-tracker
Cc: tabemono111; Mention
Subject: Re: [RainwayApp/bug-tracker] Can't install Rainway dashboard (#310)

[2019-04-13 11:20] Knagie opened #319 "Rainway auto update with UAC cancels Rainway starting"
# Rainway auto update with UAC cancels Rainway starting

Because of the UAC Rainway doesn't get the chance to install and won't start at boot

## Steps

- Install Rainway and make sure to have it set to start at boot
- Wait for an update
- Boot your PC and don't interact with it (I left for work)
- Rainway will try to update and promt for UAC
- Don't do anything with the UAC and after some time it

[2019-04-13 11:47] Knagie commented on #308
@Schlauer-Hax
Have you added it on Steam as a non-steam game? (I assume you have Watch_Dogs on Uplay)
Try adding it to Steam as a non-steam game and make sure to name it "Watch_Dogs" as the title.
It should show up then, as it does show for me when I follow these steps

[2019-04-13 11:54] Knagie opened #320 "CTRL+SHIFT+O to open rainway overlay keeps showing"
# CTRL+SHIFT+O to open Rainway overlay keeps showing

I don't remember if it also was staying there in the previous versions
It does bother me now when I tried to play Cube World for the first time.

## Steps

- Open a game through Rainway.
- Notice the small overlay that says "Press Ctrl_Shift_O to open the Rainway overlay".
- Try and get this closed/moved.

## What happens

The small overlay (Se

[2019-04-13 12:11] BetaLeaf commented on #320
Have you tried pressing CTRL+SHIFT+O to show and then again to hide the overlay and the message box?

[2019-04-13 12:18] BetaLeaf commented on #319
Microsoft forces UAC prompts to disappear after a while for security reasons. Most users blindly click yes (or sudo) without thinking about what they are doing or the possible ramifications. Rainway won't be able to petition Microsoft to change this security setting.

Rainway might be able to detect when UAC prompt fails to provide admin access and could do a number of things: alert user that upda

[2019-04-13 12:27] BetaLeaf commented on #308
Hmm. The game is in the database. It shouldn't be necessary to add it as a non-steam game.
https://www.igdb.com/games/watch-dogs

Glancing over your logs, I noticed that the dlc was parsed, but skipped for no executable (intended) but failed to detect the base game.

Wonder why it isn't being parsed correctly?

[2019-04-13 12:31] Knagie commented on #319
I was more thinking along the lines of your second paragraph. If they can detect when UAC fails and they can just start the old version without updating and putting a warning message up on the screen showing Rainway couldn't update/How to update that would be the best solution in my opinion.

[2019-04-13 12:31] BetaLeaf commented on #310
I'm pretty sure the redirect from 4.7.1 to 4.7.2 is intentional on Microsoft's end. The installer says you must install at minimal 4.7.1. Rainway works fine on 4.7.2 as it is what I have installed.

[2019-04-13 12:34] healingbrew commented on #308
@BetaLeaf because
`2019-03-30 20:41:30,580 [11] WARN Rainway.Core.Games.Analyzers.UplayAnalyzer - Skipping Watch_Dogs cause it has no relative executable info.`

I'm investigating this, no ETA on it unfortunately. This happens when the game doesn't have any executable configured.

I don't know the workaround per-se, but @Schlauer-Hax try launching the game once in uPlay.

[2019-04-13 12:37] Knagie commented on #320
Yes I did and it kept showing. Funny thing is that now for some reason it doesn't show when starting a game, I only enabled the remote desktop option and it just stopped showing on all games, also ones I didn't start yet.
So my problem is solved, not sure if I should close this or if it's indeed a bug more people have.

[2019-04-13 12:52] BetaLeaf commented on #320
I'd keep it open. It's unintential the information popup doesn't
automatically dismiss itself.

On Sat, Apr 13, 2019, 8:37 AM Knagie <notifications@github.com> wrote:

[2019-04-15 08:22] BetaLeaf opened #321 "ROM support"
#### Developer friendly TL;DR at the bottom.

As the title says, I'd like to see ROM support for Rainway. I have an idea on how to go about this.

So we currently have support for some of the most popular game launchers: Steam, Origin, Uplay, Battle.net App, Epic, Discord, etc. They all do one thing really great for Rainway. They make it easy for Rainway to look at a file, parse it, and figure out

[2019-04-15 16:53] roman380 opened #322 "Streaming shows black screen on remote device but can be fixed by disabling audio"
# Streaming shows black screen on remote device but can be fixed by disabling audio

The problem existed in many versions (not something recent). In some cases the screen is not black but shows one or a few frames of video which then freeze.

## Steps

The problem might com up as a result of misconfiguration of sorts, including Rainway and other software. Presumably a typical cause is that audio d

[2019-04-15 16:58] roman380 commented on #322
For the reference: I checked that use of Virtual Audio Cable and VB-Audio VoiceMeeter applications are in general compatible with Rainway, provided that configuration is correct in first place. That is, Rainway can capture audio from virtual audio endpoints just like from physically existing ones.

The original problem in first place comes from user with VB-Audio setup where, though, the problem i

[2019-04-15 18:44] AnthonyM commented on #273
Could someone experiencing this issue please try 1.0.9.0

There are some installer fixes which may help.

[2019-04-15 21:24] sakshamgoyal01 commented on #272
1.0.9.0 fixed it for me.
this too a while but got fixed in the end.

[2019-04-15 21:41] apecoraro commented on #277
Hi Marko, I wasn't able to reproduce this issue using a Mac mini version 10.14.4 and the Google Chrome version 73.0.3683.86 (Official Build) (64-bit). First thing you might try is upgrading to the newer versions of the OS and browser.

I was testing with Doom and the procedure I was using to reproduce the bug was the following:

1. Start the game and go into Arcade mode.
2. Use the keyboard shortc

[2019-04-15 21:48] MarkoBuxar commented on #277
Thank you for the response, it seems that the bug has since been somehow fixed. I don't know what caused the issue in the first place, but I haven't experienced it in a while, and am not able to reproduce it at the moment. Now, the video does not freeze, and if it does, it only does so for a second or so untill it catches up with the video stream. I'd probably most likely attribute it to the now o

[2019-04-15 21:58] apecoraro commented on #317
This is low priority due to current focus on building native mobile apps for iphone and android - will fix if someone finds time prior to release of native app for android or after.

[2019-04-15 22:01] apecoraro commented on #319
Appears to be installer issue, so assigning to @AnthonyM.

[2019-04-15 22:16] apecoraro commented on #271
@azumukupoe : did you try the work around described by @heksesang and did it work for you?

[2019-04-15 22:20] apecoraro commented on #269
@AnthonyM : please confirm that saving of previous versions is a feature, not a bug, and update the label on this. Thanks!

[2019-04-15 23:50] #277 closed

[2019-04-16 00:10] lynn commented on #272
Hey all, @TicklesTheBrain @Wolframme @UlyssesWu @portalpiggy @StackDoubleFlow!

We pushed out version 1.0.9.0 on [rainway.com](https://rainway.com/), which should fix this issue.

Please let us know if it works for you now :)

[2019-04-16 01:10] JTTM opened #323 "Jumpy Pointer Bug is Worse"
# The Jumpy Pointer Bug Has Gotten Worse

The last time I tested Rainway was version 1.0.7. The jumpy pointer pointer bug was bad but not unplayable. Here were my results from 1.0.7:
(With Mitigation On) - Very small frequent jumps (barely noticeable) when moving the mouse around the screen. It's noticeable in first-person view because it looks like there is FPS lag.
(With Mitigation Off) - Large

[2019-04-16 17:17] Tina-505 commented on #14
guild wars 2 is also not showing up

[2019-04-16 18:58] lynn commented on #318
This is happening for the same reason as #297, so I'm closing this as a duplicate and tracking it there.

Basically, your trackpad has a notion of "how fast to scroll", but Rainway doesn't — even the slightest scroll event gets translated to a pretty huge one when we send it to your host PC, so the scrolling becomes erratic.

We know what to do about it! But it isn't so simple. We'll let you know

[2019-04-16 18:58] #318 closed

[2019-04-16 21:19] PsiLupan opened #324 "DMC5 Game Panel Incorrect"
In the game selection window, Devil May Cry 5 incorrectly shows the image for DmC: Devil May Cry and the mouse-over game footage is also from DmC.

The mouse-over text, however, does list the game as Devil May Cry 5.

[2019-04-16 21:51] apecoraro commented on #324
This seems similar to #271 and #305, but probably different enough to be considered a separate bug.

[2019-04-16 21:52] PsiLupan commented on #324
In this case, it was from Steam as well, since I forgot to mention that.

[2019-04-16 22:00] FrobtheBuilder commented on #323
@JTTM That 150% DPI scaling thing may very well be the most important part of the entire equation. Try setting it back to 100%, restarting rainway and trying again. If the problem is what I think it is, that may well fix it.

[2019-04-16 22:51] Dima-Kal commented on #323
I've tried to set scalling to 100% and issue still happening

[2019-04-16 22:55] JTTM commented on #323
@Dima-Kal had the same issue as me (indicated in #support on the Rainway Discord). They also had scaling turned on and turning it off did not fix the issue.

[2019-04-16 23:14] SimpliciTea commented on #323
Hey guys, also confirmed on my end that client-side DPI scaling is not the issue. I've been trying all afternoon to reproduce this behavior on my dev machine so I can attempt to debug. We have one device which has seen the bug which hopefully I can dig into tomorrow! Will keep you posted. Thank you for the detailed report.

[2019-04-17 00:30] JTTM commented on #323
@SimpliciTea Thanks for the input! I wasn't sure if it was related to the jumpy pointer bug based on the "jumping" between two points. I will edit the title to reflect this new information.

@FrobtheBuilder I can verify @Dima-Kal's results. I tested Rainway with Windows scaling off and the issue still persists. However, I have some new findings with more extensive testing.

New info:
- The issue _

[2019-04-18 07:08] nullsector1111 opened #325 "mouse scroll wheel"
# Title

It did/did not work in a previous version

Some description

## Steps

- Open the thing
- Edit the thing

## What happens

What happens

## What is expected

What you expected to happen

## Host

 - OS: [e.g. Windows 10 Pro]
 - Version: [e.g. 8115]

## Browser

 - OS: [e.g. macOS Mojave]
 - Version: [e.g. 10.14.1b]
 - Browser: [e.g. Firefox Quantum]
 - Browser Version: [e.g. 62]

## Logs

[2019-04-18 16:04] apecoraro commented on #325
What game are you using when you have this issue?

[2019-04-18 18:03] nullsector1111 commented on #325
I am using the game Kerbal Space Program

On Thu, Apr 18, 2019 at 7:04 PM Alex Pecoraro <notifications@github.com>
wrote:

[2019-04-18 18:49] lynn commented on #325
Hey @nullsector1111, that's strange — the mouse wheel shouldn't zoom at all in Chrome unless you are holding the Ctrl key. Is that the case?

[2019-04-18 18:50] nullsector1111 commented on #325
Sadly not

On Thu, Apr 18, 2019 at 9:49 PM Lynn <notifications@github.com> wrote:

[2019-04-18 19:41] apecoraro commented on #325
When you say, "Sadly not", are you saying that you are **not** holding the Ctrl key when attempting to zoom with the mouse wheel?

[2019-04-18 19:42] nullsector1111 commented on #325
Yeah

On Thu, Apr 18, 2019 at 10:41 PM Alex Pecoraro <notifications@github.com>
wrote:

[2019-04-18 19:42] #296 closed

[2019-04-18 21:00] apecoraro commented on #325
I can't seem to reproduce the issue using the games that I have available to test with. I also tried running Rainway in remote desktop mode and using apps like mspaint, but was unable to get my host chrome window to do what yours seems to be doing (i.e. the mouse wheel was always only affecting the remote app, not the host chrome window).

I'm using version 1.0.9.0 of Rainway Dashboard and Chrome

[2019-04-19 07:25] nullsector1111 commented on #325
How do I check?

On Fri, Apr 19, 2019 at 12:00 AM Alex Pecoraro <notifications@github.com>
wrote:

[2019-04-19 16:52] apecoraro commented on #325
To see what version of Chrome you are using put this into the address bar: chrome://settings/help

To see the version of Rainway that you are running, on your host PC, start up the Rainway Dashboard app, click the Settings button on the left side of the window. Then click the About Rainway link on the lower left of the window.

[2019-04-19 19:20] nullsector1111 commented on #325
Chrome  Version 73.0.3683.103 (Official Build) (64-bit)
Rainway Dashboard v1.0.9.0

On Fri, Apr 19, 2019 at 7:52 PM Alex Pecoraro <notifications@github.com>
wrote:

[2019-04-21 20:11] xXxuser69420edgelordxXx opened #326 "Excess older rainway versions not being deleted locally"
# Excess older rainway versions not being deleted locally

Our of pure curiosity a while ago i decided to go snooping through various rainway folders and found that inside C:\Users\****\AppData\Local\Rainway, many outdated versions of rainway still exist.
https://cdn.discordapp.com/attachments/359715202989686785/568979554941665280/unknown.png

When i asked about this in the support channel in the

[2019-04-21 22:21] BetaLeaf commented on #326
I've had the same over the months. I've already cleaned mine up though.

On Sun, Apr 21, 2019, 4:11 PM xXxuser69420edgelordxXx <
notifications@github.com> wrote:

[2019-04-22 18:05] JTTM opened #327 "Discord Echo Cancellation"
Parsec currently has this feature. It's something that should definitely be implemented with or before Party releases. (Noticed user mentioned it in #support on the Discord)

[2019-04-22 21:06] JTTM opened #328 "Wake-On-Lan Port Still Forwarded"
A user in the Discord mentioned that Rainway still UPnP forwards the Wake-On-Lan port: UDP 9. Rainway removed Wake-On-Lan support in 1.0 because it didn't work for most users. It would be a good idea to stop forwarding this port since it's not used and some users might think of it as a security risk.

[2019-04-23 11:59] roman380 commented on #322
The problem was eventually resolved by reporting user via re-install of both VB-Audio and Rainway.

I could once reproduce a close (but not exactly this) issue when Rainway was set to use wrong audio device, which was at the same time exclusively used by third party software.

All in all, it sounds like a misconfiguration issue.

[2019-04-23 11:59] #322 closed

[2019-04-23 21:15] BetaLeaf commented on #328
Agreed. In the mean time, users can use Windows Firewall to create an
inbound rule that blocks udp port 9. Will provide visual tutorial upon
request. Just mentioned me in a comment.

On Mon, Apr 22, 2019, 5:06 PM JTTM <notifications@github.com> wrote:

[2019-04-23 22:20] BetaLeaf commented on #273
What command line flags are you using? Steps to reproduce?

On Mon, Apr 15, 2019, 2:44 PM Anthony <notifications@github.com> wrote:

[2019-04-24 18:39] SoySauceSH commented on #283
Hi, still waiting for a response. Thanks.

[2019-04-24 20:32] lynn commented on #283
Hey there @SoySauceSH! Don't worry, this is on our radar!

Improving the Game Analyzer is not a priority for us right now. We might add a custom thumbnail option once we look into the root cause of some of the other misidentifications users have been reporting here. But right now we're a little swamped working hard to bring Rainway to new platforms. I hope you understand.

We'll let you know when

[2019-04-24 21:03] BetaLeaf opened #329 "Support page https://rain.gg/e/SocketConnectionError infinitely redirects on multiple systems and multiple networks."
Support page https://rain.gg/e/SocketConnectionError infinitely redirects on multiple systems and multiple networks.  I've tried clearing cookies and cache, even went so far as to try incognito mode. This sounds like a server misconfiguration to me. This link is shown on Rainway Host when Rainway fails to establish a websocket connection. (during startup, not on session). Was instructed by Jon on

[2019-04-25 16:55] mmccall0813 opened #330 "Mouse Only Allows Me To Click On The Taskbar in Web client"
# Title

It did work in a previous version

[https://drive.google.com/file/d/1OoIrWtIm5R5DeW9agW0RNB26D0UV0bMe/view](https://drive.google.com/file/d/1OoIrWtIm5R5DeW9agW0RNB26D0UV0bMe/view)

## Steps
I don't know how this happens or what causes it
## What happens

I can only click on the taskbar and interact with it. Nothing else works.

## What is expected

To be able to freely click around.

## H

[2019-04-25 17:46] mmccall0813 commented on #330
I fixed it, by spamming ESC. IDK why it worked but I'm not complaining.

[2019-04-27 08:01] TheMulti0 commented on #269
@Codeusa Turns out it saves more:
![image](https://user-images.githubusercontent.com/25365118/56846767-c4c6cc00-68db-11e9-9abe-f7665c6e6b45.png).
Is it really nessecary? I don't like storing a few hundred megabytes of older Rainway versions on my SSD for nothing.

[2019-04-27 13:31] BetaLeaf commented on #269
@TheMulti0 can you inspect the older folders and see if they are (near) empty? It may just be an improper cleanup.

[2019-05-01 11:39] mskutlu commented on #14
world of tanks

[2019-05-02 17:16] agentd00nut commented on #329
rain.gg uses page rules to control how it redirects to rainway.com.

Which means you can't just replace "www.rainway.com" with "rain.gg" and have it work...

So for this example there was no "rain.gg/e/" page rule setup...
In addition we only get so many page rules, though they can use regex.  So if we want "rain.gg/e/someError" to redirect to help pages that's fine but "someError" should be the a

[2019-05-02 18:45] BetaLeaf commented on #329
~ agentd00nut

Yea, I didn't change the url. I clicked the link Rainway app gave me when I got the error.

~ BetaLeaf

_____

~ agentd00nut

I see the change on my end. Did you also change the link that is given when Rainway Host fails to establish a websocket connection?

[2019-05-02 18:47] BetaLeaf commented on #329
P.S. I've been using Rainway Host and Rainway app interchangeably. Let me know if this is wrong and what I should call it.

[2019-05-04 21:31] woowe opened #331 "Pixelbook ChromeOS stable very laggy"
# Pixelbook ChromeOS stable very laggy

Rainway on pixelbook is extremely laggy.

## Steps

- Install Rainway on Shadow cloud gaming instance
- Use i5 8gb pixelbook to go to play.rainway.io

## What happens

Video is extremely laggy, mouse jumps all over the place, huge slow downs almost as if the video is going in slowmotion

## What is expected

A bit of input lag but little to no video lag

##

[2019-05-04 22:02] woowe commented on #331
turning off `Hardware-accelerated video decode` in chrome://flags took the video buffer time to ~40ms
![Screenshot 2019-05-04 at 5 02 00 PM](https://user-images.githubusercontent.com/14899481/57185305-5f9c4900-6e8e-11e9-85b3-99aff93ffc2f.png)

[2019-05-05 00:11] BetaLeaf commented on #331
What make and model Chrome OS device do you have?

On Sat, May 4, 2019, 6:02 PM woowe <notifications@github.com> wrote:

[2019-05-05 02:44] woowe commented on #331
@BetaLeaf  Google Pixelbook Intel® Core™ i5, 8GB RAM, 256GB SSD
https://store.google.com/us/config/google_pixelbook

[2019-05-06 11:09] healingbrew commented on #327
What is this feature?

[2019-05-06 11:10] healingbrew commented on #329
Should no longer redirect infinitely, but that support page didn't exist to begin with.

[2019-05-06 11:10] #329 closed

[2019-05-06 13:41] healingbrew commented on #295
Should be fixed in the next update.

[2019-05-06 13:41] #295 closed

[2019-05-06 13:41] healingbrew commented on #267
Should be fixed in the next update.

[2019-05-06 13:41] #267 closed

[2019-05-06 13:43] healingbrew commented on #328
Should be fixed next update.

[2019-05-06 13:43] #328 closed

[2019-05-07 01:08] JTTM commented on #327
I'm not sure how it works. There is a setting toggle in Parsec called "Discord Echo Cancellation". When you have a friend connected to your computer while talking to them on Discord, the friend can hear themselves. If you turn this setting on in Parsec it prevents this. It would be nice for Rainway to have something similar.

[2019-05-07 01:11] healingbrew commented on #327
We're looking into things that can probably implement something like this, no ETA on when I can say more but not soon.

[2019-05-07 02:51] JTTM opened #332 ""support" link doesn't work for "Rainway can't connect to the internet" message"
Reported in #support on the Discord:

User clicked "support" button and the website is not valid.
![image](https://user-images.githubusercontent.com/14990787/57268356-1deed800-701f-11e9-8229-30e3db2e6d96.png)
![image](https://user-images.githubusercontent.com/14990787/57268359-20e9c880-701f-11e9-8335-5d7a536e5b9e.png)

[2019-05-07 21:21] Coding-Cyanide opened #333 "Functional clipboard over WebRTC"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

No problems, just a cool feature :)

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I would love to see a functional clipboard from client to host or host to client (based on a setting and

[2019-05-08 16:51] apecoraro commented on #332
Lynn and/or JohnL - can you take a look at this issue. I'm not exactly sure how to reproduce it because when my connection is not failing. It looks like a simple stale URL issue in the UI though, so should be easy to find and fix.

[2019-05-08 17:26] apecoraro commented on #331
I'm a bit confused. If I understand the description of Shadow correctly, they basically do what Rainway does, but for a PC in the cloud rather than a PC in your home. So why would you want to use Rainway to play games that are installed on a Shadow cloud gaming instance? The Shadow cloud gaming instance already allows you to play those games from, according to their website anyway, all your device

[2019-05-08 17:29] #330 closed

[2019-05-08 17:43] apecoraro commented on #282
Are you still having this issue?

[2019-05-08 18:29] RossDanbyGamer commented on #282
Hi There! I'm happy to report that the problem has been solved! 👍

[2019-05-08 18:29] #282 closed

[2019-05-08 20:46] wesd02 opened #334 "Roadmap Navigation Button still on website"
# Title

The Roadmap Navigation Button is still on the website. When I click on it, a 404 Error occurs.

![Uploading A604272B-4190-4E3D-9ADA-903C24BC64CC.png…]()

[2019-05-09 16:18] agentd00nut commented on #334
Not sure about that one, the image isn't loading for me but i can confirm that the link shouldn't be displayed.

Could you try and do a hard refresh of the webpage ( ctrl+shift+r ) which should clear your cache of the page and reload it and respond with if the link is still present or not?

[2019-05-09 19:35] wesd02 commented on #334
I just did a hard refresh and the link went away, sorry for the confusion.

On Thu, May 9, 2019 at 12:18 PM agentd00nut <notifications@github.com>
wrote:

[2019-05-09 19:51] #334 closed

[2019-05-09 21:27] bramnet opened #335 "Filtering Favorites"
**Is your feature request related to a problem? Please describe.**
I find it odd that I can set favorites for games, staring them, but I can't seem to filter my game collection by favorites.

**Describe the solution you'd like**
It would be nice if there was a star icon near the filter drop-down menu and when clicking it, it would filter my game collection to only include those that I've starred.

[2019-05-11 07:17] Benoire opened #336 "Non-default port option not being mapped via uPNP, still maps 443"
Non-default port option not being mapped via uPNP, still maps 443

I run a webserver on a different host that has my external ip mapped to it for port 443.  This means I need to rely on the non-default port option in the network settings on the host.  When I ssh in to the unifi security gateway and get the upnp mappings, the host machine is still mapping 443 even though its not set to.

## Steps

[2019-05-11 07:25] Benoire commented on #286
Is there an ETA for this?  I'd love to use Rainway on my nvidia shields to replace Steam streaming / parsec

[2019-05-11 10:13] BetaLeaf commented on #336
I made it really easy for you.
[Get Rainway Logs.zip](https://github.com/RainwayApp/bug-tracker/files/3168899/Get.Rainway.Logs.zip)

Run Get Rainway Logs.cmd and then drag and drop the `Rainway Logs.zip` file on your desktop directly to the comment box below.

Alternative instructions:
Your Rainway logs are stored at `%LocalAppData%\Rainway, Inc`.
Open File Explorer and copy-paste this into your a

[2019-05-11 19:42] SoySauceSH commented on #283
Thanks! But yes, a custom thumbnail option is definitely the most preferable option, and it would really elevate Rainway to be my Daily Game Launcher. @lynn

[2019-05-13 00:08] woowe commented on #331
@apecoraro I absolutely see where you are coming from. It does kinda seem a bit redundant and I wish I didn't have to use another layer in between me and the shadow PC! Unfortunately the shadow pc software really only works well on Windows and while ChromeOS can run Andriod apps, the Shadow PC one doesn't work at all on ChromeOS for me.

So I thought I would give Rainway a try since really it is t

[2019-05-14 14:49] mmccall0813 opened #337 "Add Copy-Pasting In And Out Of Rainway"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
It would be nice to be able to copy something while inside the rainway web client, then paste outside of the web client.

Example: I'm browsing the internet on Rainway Web Client for a report because a good info website I want to use is blocked by my school network. I see some text I want to

[2019-05-14 15:00] mmccall0813 commented on #337
Oops, didn't see #333. Closing

[2019-05-14 15:00] #337 closed

[2019-05-14 17:55] apecoraro commented on #331
I see, thanks for the explanation. Have you tried lowering the level of detail settings? On the client's Settings tab there are three different settings, Quality, Framerate, and Stream Scaling. If the Shadow PC is having trouble encoding the video fast enough or conversely your client device is having trouble decoding the video fast enough, then lowering Quality and Framerate should help. If the i

[2019-05-14 21:41] Codeusa commented on #331
Can you go to "chrome://flags" and enable any flags with "Mojo," especially the Mojo video deocder?

[2019-05-14 22:48] woowe commented on #331
Quality | Framerate | Stream Scaling | Video Buffer | Latency
-- | -- | -- | -- | --
Low | 30 | 640x480 | 210 | 30
Low | 30 | 1280x720 | 205 | 30
Low | 30 | 1600x900 | 200 | 40
Low | 30 | Disabled | 175 | 40
Medium | 30 | 640x480 | 200 | 30
Medium | 30 | 1280x720 | 190 | 35
Medium | 30 | 1600x900 | 200 | 40
Medium | 30 | Disabled | 170 | 35
High | 30 | 640x480 | 200 | 40
High | 30 | 1280x720 | 205

[2019-05-14 22:54] woowe commented on #331
I forgot to mention that turning off the hardware accelerated video decode in chrome flags gave me a video buffer of about 60ms on high quality, 30 fps, 1920x1080 (no scaling)

[2019-05-15 03:33] BetaLeaf commented on #333
Howdy. Just wanted to chime in real fast. If you are using Windows 10 v1809 (Fall 2018 update), you can log into both computers with your microsoft account and set up clipboard syncing.

Here is the relevant article: https://support.microsoft.com/en-us/help/4028529/windows-10-clipboard

P.S. Also, highly recommend enabling Clipboard History as well, while you are in there. Win+V turns into clipboa

[2019-05-21 14:28] shkohk opened #338 "ICE STATE"
# Title

It did/did not work in a previous version

Some description

## Steps

- Open the thing
- Edit the thing

## What happens

What happens

## What is expected

What you expected to happen

## Host

 - OS: [e.g. Windows 10 Pro]
 - Version: [e.g. 8115]

## Browser

 - OS: [e.g. macOS Mojave]
 - Version: [e.g. 10.14.1b]
 - Browser: [e.g. Firefox Quantum]
 - Browser Version: [e.g. 62]

## Logs

[2019-05-21 14:28] #338 closed

[2019-05-21 14:39] shkohk opened #339 "ICE STATE"
Hello. I really wish anyone could help me solve the issue.

Let me first explain why I am here. I am a 24/7 RDP user. I go home every day to my low-end computer(client) to connect to my high-end computer(host) away from home over the internet. Thats how my life goes.

Rainway work great. However, everyday when i got home i couldn't connect to my Host using rainway. It just simply said no dashboard

[2019-05-23 14:46] shkohk commented on #339
just an update
the last log that stopped rainway from working

2019-05-23 23:17:42,627 [40] WARN Rainway.Core.Network.WebRTC.Utils.AqueductClient - Connecting to aq-us1-bigfoot.rainway.com

[2019-05-24 01:55] apecoraro commented on #331
A large video buffer indicates that your client is having trouble decoding video fast enough to keep up with the stream (more buffer equals more latency. Also, the fact that the buffer shrinks (indicating the decoding performance is better) is, in our opinion anyway, a bug in Chrome. We've reported it to Google several times in the past.

[2019-05-24 16:44] shkohk commented on #339
another update

stopped working and the last log as follow

  at Rainway.Core.ScreenShare.ScreenShareEngine.Start(GameSession userSession, EngineStatusCodes& code)
2019-05-25 01:43:53,149 [85] WARN Rainway.Core.Network.WebRTC.WebRtcSession - ICE STATE CHANGE Disconnected
2019-05-25 01:43:53,160 [85] WARN Rainway.Core.Network.WebRTC.WebRtcSession - ICE STATE CHANGE Closed

[2019-05-29 14:38] d1vanloon opened #340 "Remote unlock PC"
I like to keep my PC locked when I'm not in front of it. When I try to launch a game via Rainway when my PC is locked, the operation fails because the PC is locked.

I would like the ability to provide local user credentials to unlock the PC remotely before launching a game. This is similar to functionality provided by many consumer remote access tools.

Alternatives to providing this functionalit

[2019-05-29 18:08] Codeusa commented on #340
If you click the Launch button it will take you to the Windows desktop to login.

[2019-05-29 18:18] d1vanloon commented on #340
That's an excellent solution, and it _should_ solve my issue perfectly.

Unfortunately, I get a blank screen or a flash to a feedback form when clicking Launch, so I never see the lock screen. I suppose this means there's another issue preventing me from connecting to the lock screen.

[2019-05-29 19:35] lynn commented on #335
Heya @bramnet! As-is, setting the "favorite" star on a game pins it to the top of the Game List the next time you load it.

So with this star set, you should always see your favorite games at the top (alphabetically), followed by everything else.

While buliding our new connector apps, we've been brainstorming ways to make filtering on the Game List better. We intend to allow more options here — f

[2019-05-29 19:39] bramnet commented on #335
Uhm, if it's currently supposed to organize it by stars and then alphabetically, then I'd like to report a bug of that not occuring. Regardless of whether I star a game or not, it currently still shows up in the alphabetical listing and not at the top. (yes, I tried refreshing)

[2019-05-30 02:24] d1vanloon commented on #340
The issue I'm seeing does not seem to be related to the actual locked/unlocked state of the PC directly, but due to the display timeout. In my case, when the PC is locked, the display will turn off after some time.

To reproduce my issue:

1. Lock the PC and wait until the display turns off
2. Launch the Rainway client on another PC and try to launch a game
3. When prompted that the host is locked

[2019-05-30 16:10] andrewmd5 commented on #340
@healingbrew don't we have code in place to wake the display when a session start request comes in?

[2019-06-01 00:00] d1vanloon commented on #289
Game Bar continues to be disabled by Rainway at launch in Windows 10 version 1903. Microsoft is moving more gaming-related functionality into the Game Bar feature, and it shouldn't continue to be disabled automatically.

[2019-06-01 00:12] FrobtheBuilder commented on #289
Alright, we'll have this taken care of soon.

[2019-06-02 04:46] shkohk commented on #339
no one really care...?

[2019-06-02 04:47] neptuwunium commented on #339
It's being tracked.

[2019-06-02 04:58] shkohk commented on #339
Thanks for the replay. I just couldn't resolve the issue no matter what i try,,,

[2019-06-04 20:22] andrewmd5 commented on #303
@healingbrew all you, needs immediate triage.

[2019-06-05 15:03] neptuwunium commented on #303
@Yumegipsu is this still happening? Could you upload the full log?

[2019-06-05 15:05] neptuwunium commented on #271
Sorry it took so long to figure out what's going on. We'll have a potential fix out next release.

[2019-06-05 15:12] neptuwunium commented on #324
Should be fixed, refresh your games.

[2019-06-05 15:12] #324 closed

[2019-06-05 15:16] neptuwunium commented on #305
Should be fixed, please refresh your library.

[2019-06-05 15:16] #305 closed

[2019-06-05 15:17] neptuwunium commented on #339
Could you post the entire log?

[2019-06-05 15:39] Yumegipsu commented on #303
It's still a problem. The latest log:

[Server_1559748781543.log](https://github.com/RainwayApp/bug-tracker/files/3257892/Server_1559748781543.log)

[2019-06-06 13:20] Mokeoke opened #341 "Rainway "installs" than nothing..."
# Rainway "installs" than nothing...

I downloaded Rainway from the website than after opening it it shows a box that says "Installing Rainway" .Then after a while, the box vanished and nothing happened... I am new to Rainway so
I don't know if this is a major issue.   https://rainway.com/download/  I got the download from here.

[2019-06-06 19:10] bramnet opened #342 "Reload the video/audio feed"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to exit and re-open the game I'm currently playing just because either the video feed, the audio feed, or the logic/input feed has stopped working.

**Describe the solution you'd like**
It would be nice if there was a keyboard shortcut or button I could press on the rainway overlay that would allow

[2019-06-08 02:04] #341 closed, assigned to nobody

[2019-06-08 02:05] Mokeoke commented on #341
Rainway can only be installed on Windows 10...
I'm on windows 7

[2019-06-17 00:22] Avenred opened #343 "!bug Connecting with chrome client causes jumpy cursor movement in Minecraft"
The title basically explains all you need to know. Some other notes:

- To define jumpy, it means that the cursor jumps to the sky/the top or to the ground/the bottom

- It doesn't really slide around/spin like it does when a person slides their mouse from left to right/right to left, it just kinda jumps around.

- I have not tested other games
Host: CyperpowerPC Model: C SERIES
Client: Windows 10

[2019-06-19 18:56] jmahlebjian opened #344 "Macbook Pro 2015 15" with Graphics Card Rainway Issue"
For some reason My Macbook Pro cant handle Rainway. There's constant audio glitches and stutters. I've tested this issue with Jon (Mod on Discord) and he says it works fine on his computer. Here are my full specs: https://everymac.com/systems/apple/macbook_pro/specs/macbook-pro-core-i7-2.5-15-dual-graphics-mid-2015-retina-display-specs.html

[2019-06-22 04:44] portalpiggy commented on #272
Sorry it's been a while but it still doesn't work with 1.0.11 for me...

[2019-06-28 16:43] roman380 opened #345 "Stream Scaling resolution list missing 1920x1080"
# Title

Stream Scaling resolution list is missing 1920x1080 option.

Monitor's resolution is 3440x1440. Choices exist but the one that would make most sense is not there.

![](https://cdn.discordapp.com/attachments/359715202989686785/594173902289240069/unknown.png)

(#support around 2019-06-28 15:00 UTC)

## What is expected

1920x1080 should be there no matter what.

[2019-06-28 16:44] roman380 commented on #345
Workaround - steps to apply custom resolution via edit of settings:

1. from Rainway tray icon menu open Dev Utils, Open Cache Folder
2. the will be a folder opened, before doing anything else exit from Rainway from the same tray icon menu
3. in the opened folder edit settings.json file with notepad (open with... Notepad or otherwise)
4. closer to the end of the file you will see lines where you

[2019-06-28 17:31] AetherCollective commented on #345
If I recall correctly, it hides the current resolution. Did you select the correct monitor (the 4k one)

[2019-06-28 17:33] roman380 commented on #345
Yeah it excludes the current selection from the choices dropped down. I, for instance, can't repro on my dev machine with native 3840x2160. However the user's screenshot above suggests that his current setting is "Disabled" so we'd expect 1920x1080 to be available for selection. His complaint in first place was that he was unable to do 1920x1080.

[2019-07-01 17:01] agentd00nut commented on #345
Maybe instead of hiding the resolution we could make it visible but visually separate it from the other items in the list to show that its the currently selected item.

Little less confusing and gives a slight hint that a user might not have the proper monitor selected.

[2019-07-01 17:03] agentd00nut commented on #344
To be clear, is the macbook pro the device that you are streaming to from a gaming computer, or are you running the game on the macbook and streaming to some other unknown device?

[2019-07-01 17:07] agentd00nut opened #346 "This is a test bug."
# Title

It did/did not work in a previous version

Some description

## Steps

- Open the thing
- Edit the thing

## What happens

What happens

## What is expected

What you expected to happen

## Host

 - OS: [e.g. Windows 10 Pro]
 - Version: [e.g. 8115]

## Browser

 - OS: [e.g. macOS Mojave]
 - Version: [e.g. 10.14.1b]
 - Browser: [e.g. Firefox Quantum]
 - Browser Version: [e.g. 62]

## Logs

[2019-07-01 17:08] #346 closed, assigned to nobody

[2019-07-01 20:41] AetherCollective commented on #346
This is a test comment.
Lel

[2019-07-01 20:41] BetaLeaf commented on #346
This is a test comment.
Lel

[2019-07-01 20:44] AetherCollective commented on #345
Maybe like an asterisk to the left of the currently selected resolution?

[2019-07-03 01:40] andrewmd5 commented on #344
There is a glitch on some macbook models were if you have Bluetooth or Airplay enabled it can cause lag.

[2019-07-03 15:32] jmahlebjian commented on #344
I disabled my bluetooth, but no luck.

im using the macbook pro as a client on MacOS.

[2019-07-03 20:57] andrewmd5 commented on #344
- Is your Rainway host hooked up over ethernet?
- Is your Mac connected to 5 Ghz WiFi?
- Is there anything special about your setup? (Ethernet over A/C power for example.)
- Go to "chrome://gpu" is hardware accelerated video decoding enabled?

[2019-07-04 22:16] jmahlebjian commented on #344
yes
yes
maybe, I have my ethernet hooked up from my computer > Extender > Modem. I get 400 dload, 400 upload.
yes

[2019-07-05 16:40] andrewmd5 commented on #344
Let's take a look at the host specs. Go to [this link](https://nexus.rainway.com/hardware_d.html) on your host and share the output here.

- What is your desktop resolution? If it is > 1080P, try changing it to 1080P or lower.
- Try reducing the graphics of the game itself.
- Is there any sort of anti-virus running on the system?

[2019-07-07 00:19] jmahlebjian commented on #344
{
    "os": "Windows",
    "architecture": 64,
    "osVersion": "10",
    "cpuCores": 4,
    "browser": "Chrome",
    "browserVersion": "75.0.3770.100",
    "product": null,
    "gpu": {
        "name": "NVIDIA GeForce GTX 1060 6GB"
    }
}

My Desktop Resolution is 1080p. When setting streaming size to less, the performance is even worse.

I reduced the graphics, it provided a little performance

[2019-07-08 20:40] andrewmd5 commented on #344
@yu42hit When you're inside the client, press "ctrl+shift+o" to open the advance stats overlay (you can also rebind this in the settings menu). Take a screenshot of that and post it here.

You can also use the Rainway tray icon to open your cache folder. Once you've done that, open settings.json and find the "ShowOverlay" key. Set it from "false" to "true" and restart Rainway. The next time you st

[2019-07-08 23:00] jonttm opened #347 "Games list scrolling issue (web client)"
User has 200+ games and cannot scroll down when in tile list type

Quote from Discord:
https://discordapp.com/channels/346693795632381955/359715202989686785/597762007961174046

[2019-07-08 23:04] jonttm commented on #347
Please click the image to see it rightside up

[2019-07-08 23:42] SimpliciTea commented on #347
Hi JTTM, thanks for reporting this issue!

The bug you're running into is indeed a small oversight on my part; you should still be able to scroll down and see all of your games if you put your mouse overtop of the game grid and scroll down with your mousewheel. What's happening is that there are unintentionally TWO scroll areas -- one inside the grid and one outside.

**(I'll fix this tomorrow).**

[2019-07-08 23:53] jonttm commented on #347
Thank you for the information! I forwarded this to the user

[2019-07-14 15:24] jmahlebjian commented on #344
https://imgur.com/64QEUNt

by the way, I started using the new native launcher and its working alot better. It still stutters from time to time though. This image is from the native client.

[2019-07-15 09:30] roman380 opened #348 "Rainway fails to stream video with recent AMD Ryzen APUs"
# Rainway fails to stream video with recent AMD Ryzen APUs

Examples of APUs:

* AMD Ryzen™ 3 2200G with Radeon™ Vega 8 Graphics
* AMD Ryzen™ 5 3400G with Radeon™ RX Vega 11 Graphics

## Steps

Streaming fails with default and intended encoding using AMD GPU.

## What happens

Black video on streaming

## Dashboard

 - Version 1.0.13

[2019-07-15 09:32] roman380 commented on #348
The mentioned APUs don't support `AMF_VIDEO_ENCODER_RATE_CONTROL_METHOD_LATENCY_CONSTRAINED_VBR` mode returning `AMF_NOT_SUPPORTED` in respected API call. From what I understood [here](https://github.com/GPUOpen-LibrariesAndSDKs/AMF/issues/160#issuecomment-497773414) this will also be fixed on the AMD end at some later point.

[2019-07-15 09:49] roman380 commented on #348
The patch below is supposed to hotfix the problem. Update instructions:

1. Download [DesktopCapture-1.1.1.1086.zip](https://github.com/RainwayApp/bug-tracker/files/3391715/DesktopCapture-1.1.1.1086.zip)
2. Stop Rainway dashboard by exiting from system tray icon menu
3. Press Win+R and type "%LOCALAPPDATA%\Rainway" which should open Rainway installation directory, descend to `app-1.0.13` and locat

[2019-07-15 09:49] #348 closed, assigned to roman380

[2019-07-15 19:19] andrewmd5 commented on #344
@yu42hit You could try reducing the quality to see if you get less stuttering. Glad to here the PWA fixed some issues for you.

[2019-07-16 01:41] jc1483 opened #349 "Non-Steam games including League of Legends not appearing in desktop or web app"
All of the shortcuts I added to the Steam client are not showing up in the Rainway desktop app or web client. I have tried deleting the shortcuts.vfd from steam and re-adding all of the games to no avail. I have cleared the cache and forced an analyzer update as well. Looking through the log, it seems the lines below are pertinent to the issue. It parses the shortcuts file correctly and I can see

[2019-07-17 13:44] jc1483 commented on #349
Seems like the issue resolved itself. Probably some network problem? May want to check out in case your services are having downtime.

2019-07-17 09:41:58,400 [29] WARN Rainway.Core.Games.AnalyzerService - Running analyzer for platform SteamShortcut
2019-07-17 09:41:58,506 [29] WARN Rainway.Core.Games.Analyzers.SteamShortcutAnalyzer - The_Swords_of_Ditto contains weird parts
2019-07-17 09:41:58,52

[2019-07-17 13:44] #349 closed, assigned to nobody

[2019-07-18 19:50] derrodirik opened #350 "Logoff confirmation Modal does not close correctly"
# Logoff confirmation Modal does not close correctly

If you click on Logout in the Settings tab at the bottom left and then on Cancel in the Modal or on the X it closes shortly and opens again Immediately. But when I press ESC it closes correctly.

## Steps

- Switch to Settings tab
- Click on Logout
- Click on Cancel

## What happens

The modal opens again.

## What is expected

The modal closes

[2019-07-18 22:15] andrewmd5 commented on #350
I can reproduce this with log out, 3rd part licenses, and the about screen @SimpliciTea.

[2019-07-20 01:30] jc1483 commented on #343
I'm having the same issue as well.

[2019-07-21 18:52] Avenred commented on #343
It's great to know that I'm not the only one who's having the same issue! Have you found a solution yet?

[2019-07-30 21:13] riverar opened #351 "Rainway DesktopCapture component ships with unnecessary dev artifacts"
%LocalAppData%\Rainway\app-1.0.13\Radar
* DesktopCapture.exp
* DesktopCapture.lib

[2019-07-30 23:03] riverar opened #352 "Rainway does not start minimized when Start Minimized is enabled"
Rainway app version 1.0.13.0
Windows 10 1903 18362.1

Repro:
1. Start Rainway
2. Navigate to Windows Settings and ensure Start Minimized is enabled
3. Shutdown Rainway
4. Start Rainway
5. Note Rainway window still appears and takes focus

[2019-07-30 23:09] riverar opened #353 "Rainway streaming fails if CbrBitRate is set to 20.0 or higher"
Rainway app version 1.0.13.0
Windows 10 1903 18362.1

Repro:
1. Edit `%LocalAppData%\Rainway, Inc\Server\settings.json`
2. Change `CbrBitRate` to 20.0
3. Save the file and restart Rainway
4. Start streaming the desktop and note video is black

PWA shows a blank quality profile which may/may not be related.
![image](https://user-images.githubusercontent.com/475132/62171597-559ab280-b2e4-11e9-9855-0

[2019-07-30 23:31] FrobtheBuilder commented on #353
The labels in that dropdown are associated with specific quality values, none of which match the one you set. That's why it would appear blank. Should have nothing to do with the crash, I'll defer to one of the server devs on that one.

[2019-07-31 05:04] riverar commented on #319
Why does Rainway need elevated privileges to begin with?

[2019-07-31 05:21] andrewmd5 commented on #319
@riverar quite a few reasons. Capturing the desktop requires administrative privileges just to start, but we also run a SYSTEM service. Because of this, when a UAC prompt (or any secure desktop like the Windows login screen) is active Rainway can still capture it, and allow you to interact with it.

[2019-07-31 05:34] riverar commented on #319
@Codeusa Ah. Capturing the desktop doesn't normally require elevation but I see you want to support UAC scenarios. That's fair, thanks!

[2019-07-31 06:02] roman380 commented on #351
This is true, the two should be excluded from installer/distribution.

[2019-07-31 18:02] riverar opened #354 "Rainway installs per-user but doesn't support per-user usage"
Rainway app version 1.0.13.0
Windows 10 1903 18362.1

Rainway installs a system-level service pointing to a per-user installation of Rainway, effectively making Rainway a per-system-only app.

If Rainway Radar's sole function is to start Rainway, I recommend removing the service altogether and relying on Windows Startup and automatic login features.

Repro:
1. Create two Windows users, if needed
2

[2019-07-31 18:06] riverar commented on #287
Just ran into this too. This is a bug, in my opinion. It's toggling mouse system settings without restoring them on close. cc: @Codeusa

[2019-08-03 23:20] riverar opened #355 "Rainway doesn't appear to always present host ICE candidate leading to UDP connectivity problems"
Rainway app version 1.0.14.0
Windows 10 1903 18362.1

Repro steps:

Gather two test machines/devices. One must be a host running Rainway Dashboard software. Another can be another PC or Android device.

Machine 1:
1. Install Rainway on PC one. Terminate Rainway after it starts up.
3. Edit `settings.json` and under Network options set `Upnp` to `false` and `WebRtcLower`/`WebRtcHigher` to 22011 and

[2019-08-03 23:43] FrobtheBuilder commented on #355
Thanks dude, we've been grappling with this strange issue for a while. This repro info should help us out.

[2019-08-04 02:16] riverar opened #356 "Rainway Dashboard notification icon shows (Offline) when online"
Rainway app version 1.0.14.0
Windows 10 1903 18362.1

Repro steps:
1. Configure Rainway to not use uPnP.
2. Start Rainway, wait for Ready to Host to appear
3. Hover over notification icon and see (Offline)

![image](https://user-images.githubusercontent.com/475132/62418509-e80dbf80-b61e-11e9-897a-da2023211f23.png)

[2019-08-04 20:21] andrewmd5 commented on #356
Hey @riverar thanks for this bug report! It will be fixed in our next patch.

[2019-08-04 20:25] andrewmd5 commented on #354
Hi @riverar, the service is used for allowing Rainway to see UAC/protected windows. We install to AppData only because we use Squirrel -- nonetheless this use case can be handled better. I will discuss it at our next engineering meeting.

[2019-08-04 20:32] riverar commented on #354
@Codeusa Great, thanks for the follow up.

[2019-08-06 07:09] FrobtheBuilder opened #357 "Missing id property in some server GUID entry, occasionally."
Very infrequently, this exception will pop up and the server list won't display.
![image](https://user-images.githubusercontent.com/2354433/62518170-c444a800-b7dd-11e9-8d54-76c9f59caf7e.png)

## Steps

- Log into rainway
- Be very unlucky

## What happens

![image](https://user-images.githubusercontent.com/2354433/62518170-c444a800-b7dd-11e9-8d54-76c9f59caf7e.png)

## What is expected

Host list t

[2019-08-11 06:28] riverar opened #358 "Rainway web client shows modal, empty alert that cannot be dismissed"
Rainway app version 1.0.15.0
Windows 10 1903 18362.263

Repro steps:
1. Open Rainway for Web app
2. Start streaming the desktop (or a title)
3. Stop capturing the mouse cursor and click the X button on the window
4. When asked to leave the app, click Cancel
5. Observe empty Alert at bottom of client window

![Alert](https://user-images.githubusercontent.com/475132/62830598-46f6aa00-bbc6-11e9-822c-

[2019-08-11 06:34] riverar opened #359 "Rainway disables mouse pointer precision on launch, doesn't re-enable"
Rainway app version 1.0.15.0
Windows 10 1903 18362.263

Dupe of #287, however it's important this be considered as a **bug**, not an enhancement. This silently modifies system state at app start and can be very confusing to users when mouse precision is suddenly lost. I find myself _fixing_ this an uncountable number of times a day during my Rainway usage/testing.

Expected: Rainway changes this o

[2019-08-11 06:37] riverar commented on #356
Still seeing this in 1.0.15.0.
cc: @Codeusa

[2019-08-11 07:10] andrewmd5 commented on #356
Thanks for note @riverar. I just double checked and I am unable to reproduce. Looking at the code, this text is set by our internet connection checks which pings 8.8.8.8, 1.1.1.1, and 223.5.5.5. If all three of those pings fail, it will set the text to Offline. I did find an error in there that might cause a false-positive, but I don't think its tied directly to UPNP. I've written a patch for that

[2019-08-11 08:14] andrewmd5 commented on #359
Was closed by an a commit!

I've fixed this behavior and it will be released in 1.0.16.0.

- Pointer info is saved into settings.
- Mouse acceleration is only disabled during the stream.
- Your pointer settings will be restored on stream end.

We will also apply the last saved pointer info on startup (just in case say it crashed while you're streaming,) and shutdown. a side effect here is we do no

[2019-08-11 09:35] riverar commented on #356
@Codeusa Ahhh, I have ICMP filtered on my Rainway boxes.

Since Rainway is anchored to Windows 10, maybe one enhancement (low priority) would be to tap into WinRT's `NetworkInformation.GetInternetConnectionProfile()` / `GetNetworkConnectivityLevel()`.

That returns `ConnectionProfile::InternetAccess` on my boxes right now.

[2019-08-11 19:33] andrewmd5 commented on #356
Wasn't aware of these, I will implement them since we already use NetworkStatusChanged to trigger the pings.

[2019-08-11 19:35] andrewmd5 commented on #358
@FrobtheBuilder it seems this happens whenever there is some kind of error, but in general these modals can just stick around forever instead of dismissing automatically (there definitely should be a way to do that manually.)

[2019-08-11 23:11] andrewmd5 commented on #351
Fixed

[2019-08-11 23:11] #351 closed, assigned to AnthonyM

[2019-08-13 17:43] andrewmd5 commented on #356
Just an update that this particular change didn't make it in, but it's staged for 1.0.17.

[2019-08-13 17:44] andrewmd5 commented on #359
Fixed in the last update, if you can verify.

[2019-08-13 22:28] riverar commented on #359
@Codeusa Verified in 1.0.16.0

[2019-08-13 22:28] #359 closed, assigned to nobody

[2019-08-13 22:31] riverar commented on #355
Anything else I can do to help here? I'm also seeing weirdness with IPv6 candidates being proposed, if the client has IPv6 visibility, despite the server not supporting it.

Is Spitfire master in sync with Rainway? I can try building a repro in Spitfire if so.

[2019-08-28 13:53] mmccall0813 opened #360 "rainway host software crashes every time I try to play BeamNG Drive"
It did work in a previous version

When I try to play BeamNG drive on the Rainway Client, the host software crashes

## Steps

- open beamng
- load up a map
- host crashes

## Host

 - OS: Windows 10 Home
 - Version: Unsure

## Browser

 - OS: ChromeOS
 - Version: Version 75.0.3770.144 (Official Build) (64-bit)
 - Browser: Google Chrome
 - Browser Version: Chrome 75

## Logs
none

[2019-08-28 16:06] AetherCollective commented on #360
Hello. My name is BetaLeaf. I noticed you missed some important info in your initial post. Please add this information so the developers will be able to better help you.

## Host Version
To get the Host Version, right click on the Start Menu, select `Run` from the list, type `winver` and select `OK`. You will see a string similar to mine.
![image](https://user-images.githubusercontent.com/7028351/

[2019-08-29 06:20] Mangomaracuja opened #361 "Outdated Server, but is newest."
I can't connect to my dashboard, the client says allways Outdated Server, but I just installed it a few minutes ago and there is no newer version on website.

![image](https://user-images.githubusercontent.com/16819445/63915232-c5ac6d80-ca35-11e9-8d8f-765ddd0af624.png)

[2019-08-29 22:42] FrobtheBuilder commented on #357
Yep, this was a race condition in which the client would attempt to query hosts before the user info was available. Fixed.

[2019-08-29 22:42] #357 closed, assigned to nobody

[2019-08-29 23:02] FrobtheBuilder commented on #297
Yeah the problem with this is that the smallest "scroll" increment the server is capable of receiving is still pretty big. We were dividing the value from the browser event by twenty or so, but sometimes that gets rounded to zero, sometimes 1 which is still pretty big, or an even larger value. We'll have a fix for this shortly.

[2019-08-29 23:03] FrobtheBuilder commented on #287
It is necessary to disable mouse acceleration, otherwise our pointer tracking won't work. However, you're right in that it should restore it on close, if it was enabled in the first place.

[2019-08-29 23:07] FrobtheBuilder commented on #343
This is a known bug in Chromium's pointer lock implementation. We have a mitigation available in Advanced Settings. Try enabling it.

[2019-08-29 23:09] riverar commented on #287
Not outside of streaming. This was fixed in #359 and can be closed.

[2019-08-29 23:21] FrobtheBuilder commented on #350
This has since been fixed.

[2019-08-29 23:21] #350 closed, assigned to SimpliciTea

[2019-08-29 23:29] FrobtheBuilder commented on #361
Uh, I think your server might be reporting its version incorrectly? I'll make the version checking logic safer on the client for this sort of thing.

[2019-08-29 23:55] FrobtheBuilder commented on #361
Alright I *may* have fixed this on the client side (will be released soon) but I'd like @healingbrew or @AnthonyM to investigate why the server might send an invalid version string.

[2019-08-30 00:07] FrobtheBuilder commented on #287
Oh, huh, I thought that other one was closed due to being a duplicate, but it was this one that was the duplicate all along. My mistake.

[2019-08-30 00:07] #287 closed

[2019-08-30 00:29] FrobtheBuilder commented on #325
I've seen this sort of thing before, it can happen when the keyboard lock api captures the release of a key but not the press, causing your OS to think the modifier was never released. Try exiting fullscreen and pressing the ctrl key once, then entering it again.

[2019-08-30 06:11] fcmanj commented on #270
I am also having this issue , though im on windows10.

[2019-09-04 13:18] mmccall0813 commented on #360
Thanks, @BetaLeaf, I will definitely update my post when I get home today.

[2019-09-05 04:54] AetherCollective commented on #321
Might be possible to fork the parser from this project:
https://github.com/sselph/scraper

Written in GO and MIT licensed

[2019-09-05 04:58] andrewmd5 commented on #321
Early on I wrote ROM support, hand writing parsers for a number of formats.  We are revisiting this in a future update now that we have the means to prevent them from appearing on consoles.

[2019-09-10 05:58] paulmorabito opened #362 "Blank screen for every game"
# Title

Blank screen on any game / remote desktop

## Steps

Installed latest Rainway 1.0.17.0. Configured Ranway to use port 40136. Have tried different quality settings with no difference in result.

Visit http://play.painway.com from another PC. Try to load any game or enable remote desktop and try it. Get a blank screen, no mouse pointer, nothing. Have tried software encoding and different qu

[2019-09-10 06:27] paulmorabito commented on #362
Resolving this as it was related to port forwarding.

[2019-09-10 06:27] #362 closed, assigned to nobody

[2019-09-12 10:50] NektariosEvangelou commented on #272
Problem still on 1.0.17, service not able to start manually. Did all of the steps above and still no signs of life...

[2019-09-12 16:37] sakgoyal commented on #272
well it works for me now....

[2019-09-17 20:31] JoeDalipi opened #363 "Blank UI on startup with disabled hardware acceleration"
I'm having the typical black client problem even though i have disabled hardware acceleration as suggested.

## Host

 - OS: Windows 10
 - Version 1903 (build 18362.356)

![screen](https://user-images.githubusercontent.com/55463205/65077264-e9ab0100-d99a-11e9-8d32-9dc21ee9319a.png)

[2019-09-18 05:17] riverar commented on #355
Update on this: I built a copy of Spitfire and a test client. Interestingly, my test client generates a different set of ICE candidates than Rainway does. I even swapped out Rainway's Spitfire implementation with my own. Hm.

[2019-09-18 05:52] andrewmd5 commented on #355
Could you upload your example and I can take a look? That sounds concerning.

[2019-09-18 21:23] riverar commented on #355
@Codeusa Sure thing.

Binaries: [ice_candidates.zip](https://github.com/RainwayApp/bug-tracker/files/3628420/ice_candidates.zip)
Source: https://gist.github.com/riverar/7daff06a339b8b9777129f45c5f6291c

* ICE candidates with type `host` are highlighted in green, while `reflexive` candidates are highlighted in gray.
* Am running this on the same host as Rainway (v.latest).
* Rainway somehow generat

[2019-09-22 21:55] AdamDavisYT opened #364 "Sonic Generations Controller Input Does Not Work"
# Sonic Generations

It did not work in a previous version

In order to play most games on Rainway iOS, you need to use the touch controller or a Bluetooth one. There are some that can strictly play with a mouse, but this is generally the case. On both iOS and browser clients, controller input on Sonic Generations doesn't work at all. I can play with a keyboard, but not a controller of any kind.

[2019-09-23 15:43] jmahlebjian commented on #344
Ok, so its been awhile. Im still experiencing stuttering compared to parsec, but rainway has better mouse latency. I would really like to get this to work, I believe there must be something wrong with my macbook cause ios rainway works great.

[2019-09-27 05:19] riverar commented on #339
Seeing similar issues here as well. The log doesn't have anything useful in it. I'm starting to suspect there are issues in the Rainway Spitfire/WebRTC implementation. Another related issue #355.

[2019-10-02 02:47] ghost commented on #299
Having this issue, look like a chromeOS/android problem-related.

Tried on multiple, game crashes after 3 or 4 seconds.

Right now it getting late for me, I'll reinstall

[2019-10-02 03:26] andrewmd5 commented on #299
Which game specifically?

[2019-10-02 20:38] ghost commented on #299
I tried gunpoint, crashed and then I continued, they all crash
Geometry dash
Bad rats.
I'm right now busy but I will try more, also it probably not the game.
Remote desktop doesn't launch and just give me "How Was your Experience?"
screen literally after I click assuming it crashed

On Tue, Oct 1, 2019, 10:26 PM Andrew Sampson <notifications@github.com>
wrote:

[2019-10-22 14:54] Official-Pepsi commented on #272
I seem to be having the same problem as the Sakshamgoyal01 guy, just now it's with the lastest version of Rainway. Followed all the steps there and all the same problems happened

[2019-10-24 23:35] lynn commented on #272
Hey @Official-Pepsi, we're releasing a brand new installer very soon and hopefully all these issues should go away with it!  So I'll close this issue for now, and I hope you try again when we release the next version of the Dashboard (should be sometime next month for sure).

[2019-10-24 23:35] #272 closed

[2019-10-29 05:26] andrewmd5 commented on #272
Hey everyone, this issue has been resolved. If you run [this tool](https://nexus.rainway.com/janitor.exe) then Rainway should install.

[2019-10-31 16:57] Blazeflack opened #365 "Issue connecting 3rd party accounts (Discord / Battle.Net)"
# Error connecting Discord or Battle.Net

Attempts to connect Discord or Battle.Net through the Windows client leads through errors. After talking to Knagie on your Discord server I was instructed to try the web app (play.rainway.com) which lead to succesful connects.

## Steps

- Open App
- Go to Settings
- Click on either Discord or Battle.Net

## What happens

Discord:
- Opens browser window wi

[2019-11-02 05:06] hbomberguy opened #366 "Installer won't install Rainway."
# Title

It did/did not work in a previous version
It did work in a previous version.
It had worked before until the update made the program unable to start or be in an endless loop of installing.

## Steps

- Open the thing
- Edit the thing

## What happens
The update/installer won't install the program in the PC.
What happens

## What is expected
Rainway to launch and update.

## Host

 - OS: Wi

[2019-11-02 05:41] andrewmd5 commented on #366
It looks like something is locking access to our update folder. Do you have an anti-virus enabled?

[2019-11-10 12:55] JakubFojtik commented on #270
Also having this issue, only Opera client works, Chrome and Chromium get that error.
Edit: Opera stopped working as well... Tried both Windows and Linux clients.

Is there a way to debug this? I tried HTTPS Decrypt MITM in Fiddler but that caused Connection lost.
My NAT type is Full Cone at both ends.
Also tried disabling firewall server-side.

[2019-11-10 20:29] andrewmd5 commented on #270
Connection issues over the last few days were caused by hardware outages on our infrastructure. Those were resolved as of last night and you need to restart Rainway.

[2019-11-10 20:55] JakubFojtik commented on #270
I was trying it today for the first time, fresh install. I restarted Rainway at least 3 times in the process too. As of now it still does not work. And those people before wrote months ago.

Teamviewer works fine, but is slow and choppy. I'm sad because when Rainway worked for me it worked great (for the hour or so), unlike TW.

[2019-11-11 04:47] andrewmd5 commented on #270
WebRTC not working can be caused by a number of things:
- You might have a browser extension blocking it. Try running Chrome in Incognito and disabling any browser extensions to see if you can connect.
- You might need to port forward ([see here](https://rainway.com/support/unabletoconnect/))
- There could be an issue still with your Dashboard not registering properly. If you delete the Rainway fo

[2019-11-11 18:03] KsaRedFx opened #367 "Full keybind / keyboard support"
**Is your feature request related to a problem? Please describe.**
As someone with multiple monitors and who uses Windows shortcuts often, it's usually a massive hindrance to have to close rainway, go to settings, change monitor, drag the item to the correct screen, close rainway, go to settings, change monitor, and then resume my workflow when using the remote desktop feature.

This also becomes

[2019-11-11 18:05] KsaRedFx commented on #280
A simple button to swap monitors while in an active rainway session would be great for me, perhaps in the side menu?

[2019-11-11 18:06] JakubFojtik commented on #270
It started working for me again, what i did was boot the Windows host physically instead of running it in a VM. But now it works in the VM as well. Maybe just needed a reboot; strange.
Not sure how related this is to other people's issues in this thread though.

[2019-11-11 19:18] FrobtheBuilder commented on #367
Just wondering, are you using the Rainway client in fullscreen mode? We use the [keyboard lock API](https://developer.mozilla.org/en-US/docs/Web/API/Keyboard/lock) to allow this in fullscreen, but outside of fullscreen the browser doesn't allow blocking of system key combos. It also works on a "best effort basis", so certain key combinations may not be able to be overridden no matter what.
About t

[2019-11-11 19:24] KsaRedFx commented on #367
I have actually used full-screen and it does not completely work either;

A command I commonly use for example would be WIN+SHIFT+LEFT ARROW to shift a window to the left, or even WIN+R which simply sends a lowercase `r` instead.

Alt+tab does work, though.

As far as I can tell through the documentation, the "Super" keys (Windows, ChromeOS Search) are bindable keys through the [keyboard lock API]

[2019-12-14 19:01] RDCH106 opened #368 "Mouse Missing in Remote Desktop Mode"
The mouse is not showed in remote desktop mode. The solution given in the site is not a good fix:

https://rainway.com/support/invisibleCursor/

Previously the cursor worked good but now it is impossible to use remote mode by a transparent way.

Remote desktop is one of the most awesome features in Rainway but due to this problem, all the functionality is 💥 broken for me.

[2019-12-15 20:33] RDCH106 commented on #352
I report the same problem:

![imagen](https://user-images.githubusercontent.com/1483414/70868596-83765000-1f82-11ea-882e-3002fa1b03d4.png)

[2019-12-21 14:20] JakubFojtik commented on #343
Even with the workaround cursor jumps for me in browser or notepad: when dragging the scrollbar it keeps jumping between two consecutive lines. Also MTGA becomes unplayable as cards can not be selected at all.

Is there a way to sacrifice more pointer speed for better precision?

[2019-12-23 14:24] JakubFojtik opened #369 "Mouse keeps overshooting target, is it bug or feature?"
Often when I move client mouse to target position and click, the server mouse clicks next to it. Usually in the direction i was moving the mouse there.

Due to this in any game with small buttons i keep hitting the wrong ones. Or in remote desktop mode, trying to resize a window usually clicks in or outside it even though client mouse still displays resize cursor.

Is this a bug, or a feature? See

[2019-12-24 22:47] JakubFojtik opened #370 "Game Launch Error after playing Witcher 3"
Game Launch Error when starting any game or remote desktop.
Rainway connects to server, but cannot start any game.
Dialog shows just "Game Launch Error:" without any further explanation.

Happened after playing Witcher 3, disconnecting Rainway, setting stream quality from medium to high, reconnecting, playing for a while, saving the game.

Is there a way to remotely kill the started apps, or maybe

[2019-12-29 03:59] silentcovenant commented on #352
Same here.. it's really annoying

[2020-01-03 16:14] RDCH106 commented on #368
It works well again 👌😁

[2020-01-03 16:57] RDCH106 opened #371 "Remote Desktop changes main 🖥️ screen resolution"
# Remote Desktop changes main 🖥️ screen resolution

The usage of remote desktop changes the screen resolution in remote computer

Rainway Dashboard 1.0.43.0

## Steps

- Enable Remote Desktop
- Start Remote Desktop
- Fullscreen (CTRL+SHIFT+F)
- Show Overlay
- Qui Game to finish session

## What happens

The resolution changes to 4K with 150% scale when the configuration was 1080 with 100% scale

#

[2020-01-03 20:08] JakubFojtik commented on #370
On the server side, rainway window was completely white and unresponsive. rainway.log was empty.

[2020-01-04 10:20] RDCH106 commented on #352
It seems to work again

[2020-01-05 04:36] andrewmd5 commented on #352
fixed

[2020-01-05 04:36] #352 closed, assigned to nobody

[2020-01-06 11:01] xorinzor opened #372 "Minecraft 1.12.2 Mouse movement issues"
When playing Minecraft 1.12.2, the game acts as if I'm continually spinning my mouse in weird ways, even when not moving my mouse at all.

I read on [a reddit post](https://www.reddit.com/r/cloudygamer/comments/9lyml3/parsec_strange_mouse_issues_but_only_in_minecraft/) (albeit for Parsec) that this only happens for 1.12.2 and below, which I can confirm since 1.15.1 works perfectly fine for me with

[2020-01-06 15:05] joshuasherlock commented on #249
Still an Issue, but it appears as below:

[code]

NOTE: Closing Rainway.exe fixes the problem.

[2020-01-06 15:18] joshuasherlock opened #373 "Rainway is preventing monitors from sleeping on windows 10"
Rainway is preventing monitors from sleeping on windows 10

(Rainway V1.0.43)

NOTE: Closing Rainway.exe fixes the problem.

In Powercfg I am seeing the below entries:

[code]
![image](https://user-images.githubusercontent.com/3971994/71827248-cb4c4b00-30da-11ea-863c-56024ab43f99.png)

![image](https://user-images.githubusercontent.com/3971994/71827215-b96aa800-30da-11ea-933a-6593e573e08e.png)

![

[2020-01-06 15:21] andrewmd5 commented on #373
Away Mode is designed to enable media PC scenarios that include background media sharing and screen recording. If a display is not turned on, Rainway cannot capture the desktop. It is not possible on all systems to programmaticly turn on the display, so we default to keeping displays alive.

[2020-01-07 00:01] joshuasherlock commented on #373
Thanks for the update mate, much appreciated.

Solution is don't run it if your not using it for now.

[2020-01-07 19:52] xorinzor commented on #373
How does Teamviewer manage to do this? I can even use Teamviewer when the screen is locked, or a UAC popup appears. Can't this be integrated into the functionality of Rainway? It would make for the ultimate remote desktop tool :)

[2020-01-13 22:08] shirbr510 commented on #273
here we are, a year later, and I'm trying your app again

problem seems to still remain @ Dashboard version 1.0.51

[2020-01-13 22:11] shirbr510 commented on #366
could this be related to #273?

[2020-01-13 22:22] andrewmd5 commented on #366
We use a new installer now so it is unlikely. I believe this is likely caused by a file just having a lock on that folder. Restarting the PC should fix it.

[2020-01-14 14:19] green1pen opened #374 "Game Launch Error: no reason"
When i open rainway everything works just when i load any game ( I tried them all ) it crashes and says game launch error: blank

Im running chromeos on chromebook
{
    "os": "Chrome OS aarch64",
    "architecture": 32,
    "osVersion": null,
    "cpuCores": 4,
    "browser": "Chrome",
    "browserVersion": "79.0.3945.86",
    "product": null,
    "gpu": {
        "name": "PowerVR Rogue GX6250"

[2020-01-14 15:16] green1pen commented on #374
and i've restarted rainway on the main desktop to try and fix but still doesnt work

[2020-01-14 15:49] xorinzor commented on #273
Just copying the comment from Andrew on Discord here:

"when you run the bootstrapper.exe it creates a bootstrapper.log
send that to me"

Can you upload the log here too?

[2020-01-18 16:55] shirbr510 commented on #273
hey @xorinzor , and sorry for the late response.
these are the contents of the bootstrapper log file:

[bootstrapper][INFO] Rainway installed: false
[bootstrapper][INFO] update type: Install
[bootstrapper][INFO] checking system compatibility.
[bootstrapper::rainway][INFO] The current .NET Framework version is: 528040
[bootstrapper::rainway][INFO] current system is compatible.
[bootstrapper][INFO]

[2020-01-19 19:57] SoySauceSH commented on #283
Hi, @lynn just wanted to make sure you guys are still thinking about this as it's been a long time.

[2020-01-21 17:17] apecoraro commented on #374
If I'm understanding you correctly, then it sounds like you are using the web/browser client, but that the issue is with the server that is running on your desktop. Please attach your server logs to this ticket, then we can perhaps figure out what went wrong. You can find your server log by right clicking on the Rainway icon in the quick start menu on the lower right hand side of the screen on you

[2020-01-29 08:07] AnimusNefarius commented on #273
Version 1.0.54 and I am having the same problem.
I have tried several things from a few similar threads.
Nothing seems to work,
My bootstrap log currently looks like this:
[bootstrapper][INFO] Failed or not need to detach session.
[bootstrapper][INFO] Rainway installed: true
[bootstrapper][INFO] update type: Patch
[bootstrapper][INFO] user branch: Stable
[quiche::updater][INFO] pulling the latest

[2020-01-31 09:43] sa3eedo12 opened #375 "Black Screen when using hardware encoding with NVIDIA GPU and their fresh driver"
Hi,
I've tried using rainway clients on both my xbox and iPhone, unless I use software encoding, my stream would always be blank.

Here's my config:

intel i7 8700K
RTX 2080Ti
Asus MX34" Ultrawide monitor
HDMI Audio

[2020-01-31 09:51] roman380 commented on #375
Did you have a chance to see if playing from remote PC (Chrome browser) has the same effect?

Any chance you have an insider Windows build?

[2020-01-31 10:47] sa3eedo12 commented on #375
Chrome has the same behavior as well.

I'm running the latest insider build, would you like me to share any logs?

[2020-01-31 11:26] roman380 commented on #375
I asked about insider build because you are the second person with this problem, I talked to another user who has unexpected failure in NVIDIA hardware encoder (that that other use NVIDIA runtime triggers "out of memory" error), for no apparent reason, and also on Insider build.

I tend to think that it's a software conflict with cause outside of Rainway, but I am interested in possible workaround

[2020-01-31 13:08] sa3eedo12 commented on #375
[Report-20200131-170652.zip](https://github.com/RainwayApp/bug-tracker/files/4139484/Report-20200131-170652.zip)

Here you go, hope this helps!

Thanks!

[2020-01-31 13:13] roman380 commented on #375
Thanks! I will check the report/minidumps and probably follow up.

From a a quick look - yes the problem is related to use of video encoder, some unobvious one, maybe related to driver update. The yesterday's case was a bit different: older card, and also older driver. Anyway I need to check the data and decide how to move on from there.

[2020-01-31 13:14] roman380 commented on #375
Also probably worth mentioning (for others) that here it is a "newer" Insider build 19555 while the yesterday case was on "somewhat older" but still Insider 19033.

[2020-01-31 15:44] roman380 commented on #375
OK, one another case with another NVIDIA GPU and again insider build

* Microsoft Windows 10.0.19551
* Error 0xCE56000C
* FileVersion 27.21.14.5012, FileDescription NVIDIA Video Encoder API, Version 8.0 , TimeDateStamp 1/4/2020 4:23:15 AM 1578111795
* Context: Adapter "NVIDIA GeForce GTX 970", LUID 0.0x0000D900, Output "\\.\DISPLAY2"; Adapter "NVIDIA GeForce GTX 970", LUID 0.0x0000D900, Output "\\

[2020-01-31 23:28] Bitbatgaming opened #376 "No Online Dashboard Found"
There is no online dashboard found despite having rainway open on my laptop.

[2020-02-01 11:20] roman380 commented on #375
@sa3eedo12 could you please re-create the report once again with this new build? I am guessing I see where the trouble comes from....

~~[ProduceExperimentReport-20200201.zip]()~~
[ProduceExperimentReport-20200229.zip](https://github.com/RainwayApp/bug-tracker/files/4270405/ProduceExperimentReport-20200229-44fc16e8ae87a57ac30920b84044d3e78ffb9dea.zip)

Instructions (pulled from above):

[2020-02-01 17:02] 29axe commented on #272
Hi, I have the exact same issue with 1.0.54. I tried to start service and it gives me the 1067 error too.
I ran janitor tool and reinstalled but still the same issue.
I'm trying to install Rainway using remote desktop without having the display turned on. Could it be related?

[2020-02-01 23:41] roman380 commented on #375
OK, in the meantime I upgraded one of my old boxes to insider Windows and I see the issue. Silly bug in  NVIDIA driver, or Windows changes that triggered this silly NVIDIA bug. We are going to have a workaround with next Rainway update, or just ping me here for a quick patch.

[2020-02-01 23:53] #375 closed, assigned to roman380

[2020-02-02 09:33] ayvah commented on #272
@29axe
I'm experiencing the same issue, also using Remote Desktop. So yes, it seems related. I wonder if there's a work around that doesn't involve permanently having a monitor attached?

[2020-02-02 18:00] 29axe opened #377 "Uplay game not detected, Uplay analyser does not find Uplay."
# Uplay game not detected, Uplay analyser does not find Uplay.

I installed rainway on 2 of my PC with same Win 10 pro version.
On one of my computers, the uplay Game far cry 5 is showing at first start.
On the second computer the game does not show. Looking at existing issues I tried to add it as non-steam game. It worked and I could successfuly play the game.
Today when restarting my computer th

[2020-02-02 18:14] 29axe commented on #272
@ayvah Exactly. When try without remote desktop it works. As an alternative I could start rainway using teamviewer.

[2020-02-02 22:33] roman380 commented on #375
Fixed in Rainway 1.0.55

[2020-02-03 09:01] 29axe commented on #377
I think I narrowed down the issue and could find a workaround.

First there are 2 issues:
- UPlay games not detected
- non-steam games not detected anymore since version 1.0.55

The second issue does not bother me that much as it was already a workaround for the first issue so I'll skip it.
On my second computer (where it's not working) I noticed from the logs that Uplay was not found by Rainway a

[2020-02-07 02:04] TheMilesy opened #378 "Can't launch game from PC"
# Title

Just tried latest version

Some description

## Steps

I installed Rainway on my gaming PC.  Connected to it off my laptop.  Connects no problem.  Click the game i want to launch.  Screen on Laptop goes black or loads some images from the game I want to play (Tried several games, but primarily WoW), game starts on gaming PC.  After about 10 seconds, Laptop disconnets and the game on my Ga

[2020-02-07 17:29] apecoraro commented on #378
So it sounds like the web client doesn't work for you, but the Android client works fine, is that correct?

[2020-02-07 23:02] TheMilesy commented on #378
Possibly.  The game does start but quits after 10 seconds or so. So the
ports etc must me open.  I'll try on another pc asap.

On Sat, 8 Feb. 2020, 4:29 am Alex Pecoraro, <notifications@github.com>
wrote:

[2020-02-10 21:26] shirbr510 commented on #273
@xorinzor any response please?

[2020-02-11 13:14] xorinzor commented on #273
@shirbr510 Unfortunately there isn't anything in there that would help me to diagnose the issue.
Either way, I mostly asked you to add the log file for completeness of the issue, I'm not part of the Rainway team, just a fellow user who perhaps could've helped you.

Windows (installers) aren't really my area of expertise. Hopefully someone from the rainway team will help you.

[2020-02-11 16:43] shirbr510 commented on #273
@xorinzor oh, sorry 😅
I really wish that they would handle the issue...
They do seem more responsive @ their discord so I'll probably repost the issue and hope for the best

[2020-02-20 14:21] mmccall0813 commented on #374
Same issue here. Unlike OP I can usually get it to work after a restart of the desktop client. When I get home from school today I will make sure to post my logs here.

[2020-02-24 18:18] freemanfl opened #379 "Cant connect to the server from android app when using 4g internet"
The title. Works fine when on the wifi

[2020-02-24 18:39] apecoraro commented on #379
Hi @freemanfl - this issue is probably specific to you and your network setup with your PC host and not necessarily specific to the Rainway Android app (outside of the fact that getting the network setup working correctly with Rainway is a bit complicated for some users at this point in time). I think you'll find that if you post your problem to the #bugs-and-feedback channel on our Discord or fol

[2020-03-03 00:55] UsedToCould opened #380 "Need to edit games manually"
A couple games are getting scanned in with the wrong titles and/or art. For example Minecraft for Windows 10 has an image from Cave Story or something, and the Peggle image is for some deluxe version I don't own. Also it keeps adding Micrsosft Solitaire Collection to my library even after I made sure Solitaire was uninstalled and then reset the cache in dev utilites it added Solitaire right back t

[2020-03-03 17:24] agentd00nut commented on #380
This is a popular feature request.

You can expect it to be added in the future.

[2020-03-04 14:19] mmccall0813 commented on #374
Ok uh, I think I found the cause of it.
When starting a game or trying to connect to remote desktop, you sometimes might have this seemingly infinite "Getting things ready..." screen, and if you quit during that "Getting things ready" screen it seems to cause the issue to happen.

[2020-03-04 14:27] mmccall0813 commented on #360
No longer have this issue

[2020-03-04 14:27] #360 closed, assigned to nobody

[2020-03-24 15:09] KevysNotHeavy commented on #376
same with me (I'm not sure if someone turned my pc off though)

[2020-03-25 16:59] apecoraro commented on #376
Head over to Discord (http://rain.gg/discord) and create a support ticket.

[2020-03-30 15:28] shirbr510 commented on #273
Version 1.0.88 finally solved my struggle 🎉

than kyou so much 🙏

[2020-03-30 15:28] #273 closed

[2020-04-03 00:51] MrPurple2020 opened #381 "Full screen problem."
Full screen problem.
I have had problems leaving the game that is streaming. When exiting the game, rainway remains in full screen and the HOST pc can only be controlled by the connecting pc, as if it were a remote desktop. The Host is capable of controlling its own pc. Who connects cannot see the desktop of their own PC and only control the host. When pressing Ctrl + Alt + Spr, it is recognized o

[2020-04-03 05:23] apecoraro commented on #381
Hi, it'd be great if you would take the time to create a support ticket on our Discord (http://rain.gg/discord) so that our team can help troubleshoot this problem for you.

Also, I'm wondering what lead you to create this issue here? We are trying to move away from using this repo for support, so curious as to you how you found it.

Thanks.

[2020-04-04 19:10] MrPurple2020 commented on #381
Thanks for answering. I will make the request in discord.
I saw this to this thread through the rainway page, which had a direct link
here in the “bug report” section and I followed it because on the page I
did not see any problem similar to mine or where to post on the page
itself. Now
after looking again, I see the option of discord, which did not attract my
attention, because I do not use disco